<div ng-init="update();">

	<h3><span class="fa fa-anchor"></span> Voyage Configurations → Vessels</h3>
	<br />

	<table class="table table-striped table-responsive">
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Capacity</th>
			<th>Seating Class Used</th>
			<th>Active</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="value in vesselList">
			<td>{{value.name}}</td>
			<td>{{value.code}}</td>
			<td>{{value.capacity}}</td>
			<td ng-init="getVesselTemplate(value.id)">
				<ul style="padding: 0 10px 0 10px;"><li ng-repeat="val in vesselTemplateList[value.id]" ng-show="val.active">
					{{joinSeatingClass(val.seating_class_id)}}
				</li></ul>
			</td>
			<td ng-show="value.active">Yes</td>
			<td ng-hide="value.active">No</td>
			<td>
				<a title="Edit Vessel" data-toggle="modal" data-target="#editVessel" style="cursor: pointer;" ng-init="getVesselItems(value)" ng-click="setIndex(value.id); getVesselTemplatePerIndex();"><span class="glyphicon glyphicon-pencil"></span></a>
			</td>
		</tr>
	</table>

	<pagination 
        total-items="vesselCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

	<button class="btn btn-primary" data-toggle="modal" data-target="#openAddVessel"><span class="glyphicon glyphicon-plus"></span> Add Vessel</button>
	<!-- <button class="btn btn-primary" ng-click="check();"><span class="glyphicon glyphicon-plus"></span> Check</button> -->

	<!-- Modals -->
	<div modal="test" class="modal fade" id="openAddVessel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close"  data-dismiss="modal"><span  aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Add New Vessel</h4>
		      	</div>
		      	<div class="modal-body">
		      		<ng-form name="modalAdd" novalidate role="form">
			       		<label>Vessel Name:</label>
			    		<input type="text" ng-model="vesselName" class="form-control" required>
			    		<br />
			    		<label>Code:</label>
			    		<input type="text" ng-model="vesselCode" class="form-control" required>
			    		<br />
			    		<label>Add Seating Class:</label>
			    		<span id="helpBlock" class="help-block">
			    			Seating class added here will determine ship capacity
			    			<br/>You may select more than one seating class
			    		</span>
			    		<ui-select multiple ng-model="$parent.seatingClass" theme="bootstrap" style="width: 100%;" ng-change="getSeatList(); getVesselCapacityAdd(seatingClass)" required> 
						    <ui-select-match placeholder="">{{$item.name}}</ui-select-match> 
						    <ui-select-choices repeat="value.id as value in seatingClassList | selectFilter: {name: $select.search}">
						        {{value.name}}
						    </ui-select-choices> 
						</ui-select>
			    		<br />
			    		<br />
			    		<label>Capacity:</label>
			    		<input ng-disabled="true" type="text" ng-model="vesselCapacity" class="form-control">
			    		<br />
		    		</ng-form>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" id="select2AddClear" class="btn btn-primary" ng-click="addVessel()" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	</div>
	    	</div>
	  	</div>
	</div>

	<!-- Modal for Edit -->
	<div modal="test" class="modal fade" id="editVessel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close"  data-dismiss="modal"><span  aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
		        	<h4 class="modal-title" id="myModalLabel">Edit Vessel</h4>
		      	</div>
		      	<div class="modal-body">
		      		<ng-form name="modalEdit" novalidate role="form">
			      		<label>Vessel Name:</label>
			    		<input type="text" ng-model="vesselItems[index].name" class="form-control" required>
			    		<br />
			    		<label>Code:</label>
			    		<input type="text" ng-model="vesselItems[index].code" class="form-control" required>
			    		<br />
			    		<label>Add Seating Class:</label>
			    		<span id="helpBlock" class="help-block">
			    			Warning: Editing selected seating class of this vessel will not change 
			    			<br />seating class of voyages currently using it
			    		</span>
			    		<ui-select multiple ng-model="$parent.seatingClassPerVessel[index]" theme="" style="width: 100%;" ng-change="getVesselCapacityEdit(seatingClassPerVessel[index])" required>
						    <ui-select-match placeholder="">{{$item.name}}</ui-select-match> 
						    <ui-select-choices repeat="value.id as value in seatingClassList | selectFilter: {name: $select.search}">
						        {{value.name}}
						    </ui-select-choices> 
						</ui-select>
			    		<br />
			    		<br />
			    		<label>Capacity:</label>
			    		<input ng-disabled="true" type="text" ng-model="vesselItems[index].capacity" class="form-control" >
			    		<br />
			    		<label>Active:</label>
	                    <select style="width: 100%" class="form-control" ng-model="vesselItems[index].active">
	                        <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
	                    </select>
	                    <br />
                    </ng-form>
		      	</div>
		      	<div class="modal-footer">
		        	<button type="button" id="select2EditClear" class="btn btn-primary" ng-click="editVessel()" data-dismiss="modal" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      	</div>
	    	</div>
	  	</div>
	</div>
</div>

<!-- JQuery Addons -->
<script>
</script>