<div>

	<h3><span class="glyphicon glyphicon-home"></span> Home → {{username}}</h3>
    <br />

	<div class="row-fluid" ng-show="role == 1  || role == 3 || role == 5">

		<div class="col-md-4">
			<label>Select Date:</label>
			<p class="input-group">
	            <input type="text" class="form-control" ng-click="open($event)" ng-disabled="false" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
	            <span class="input-group-btn">
	                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	            </span>
	        </p>

	        <br />
	        <label>Select Chart Type:</label>
			<select class="form-control" ng-model="chartType">
				<option ng-repeat="value in chartList" value={{value}}>{{value}}</option>
			</select>

			<br />
			<label>Revenue Summary: </label>
			<table class="table table-responsive table-bordered table-striped">
				<tr>
					<td><span class="glyphicon glyphicon-plus"></span> Total Ticket Revenue:</td>
					<td>{{revenue.ticket.toFixed(2)}}</td>
				</tr>
				<tr>
					<td><span class="glyphicon glyphicon-plus"></span> Total Waybill Revenue:</td>
					<td>{{revenue.waybill.toFixed(2)}}</td>
				</tr>
				<tr>
					<td><span class="glyphicon glyphicon-plus"></span> Total Baggage Revenue:</td>
					<td>{{revenue.baggage.toFixed(2)}}</td>
				</tr>
				<tr>
					<td><span class="glyphicon glyphicon-plus"></span> Total Upgrade Revenue:</td>
					<td>{{revenue.upgrades.toFixed(2)}}</td>
				</tr>
				<tr>
					<th>Total Revenue:</th>
					<th>{{revenue.total.toFixed(2)}}</th>
				</tr>
			</table>

		</div>

		<div class="col-md-8">
			<!-- Display Chart -->
			<div class="chart" data-ac-chart="chartType" data-ac-data="data" data-ac-config="config"></div>
		</div>

	</div>
	<br />

	<center>
	<div class="row-fluid">
		<div class="col-md-12">
			<h4>Apps Portal:</h4>
			<a ng-href="#/ticket" ng-show="role == 1 || role == 3 || role == 4" >
				<button class="btn btn-warning btn-lg quick-links" style="background-color: #f0ad4e !important; border: 1px solid #f0ad4e !important;">
					<span class="glyphicon glyphicon-tasks icon-large"></span> <br />
					Ticket Booth<br/>
				</button>
			</a>
			<a ng-href="#/ticket/scan" ng-show="role == 1 || role == 6">
				<button class="btn btn-info btn-lg quick-links" style="background-color: #F7D358 !important; border: 1px solid #F7D358 !important;">
					<span class="glyphicon glyphicon-barcode icon-large"></span> <br />
					Ticket Scan<br/>
				</button>
			</a>

			<a ng-href="#/boarding/scan" ng-show="role == 1 || role == 6">
				<button class="btn btn-info btn-lg quick-links" style="background-color: #F5D0A9 !important; border: 1px solid #F7D358 !important;">
					<span class="fa fa-ship icon-large"></span> <br />
					Board Tickets<br/>
				</button>
			</a>

			<a ng-href="#/boarding/index" ng-show="role == 1 || role == 6">
				<button class="btn btn-info btn-lg quick-links" style="background-color: #81F7BE !important; border: 1px solid #F7D358 !important;">
					<span class="glyphicon glyphicon-record icon-large"></span> <br />
					Ticket Status<br/>
				</button>
			</a>


			<a ng-href="#/upgrades/index" ng-show="role == 1 || role == 3 || role == 4">
				<button class="btn btn-danger btn-lg quick-links" style="background-color: #5CB85C !important; border: 1px solid #5CB85C !important;">
					<span class="glyphicon glyphicon-arrow-up icon-large"></span> <br />
					Upgrades<br/>
				</button>
			</a>

			<a ng-href="#/voyage" ng-show="role == 1 || role == 3">
				<button class="btn btn-primary btn-lg quick-links" style="background-color: #00FFBF !important; border: 1px solid #00FFBF !important;">
					<span class="glyphicon glyphicon-calendar icon-large"></span> <br />
					Voyages<br/>
				</button>
			</a>

			<a ng-href="#/seat" ng-show="role == 1 || role == 3 || role == 4 || role == 5 || role == 6">
				<button class="btn btn-success btn-lg quick-links" style="background-color: #F79F81 !important; border: 1px solid #F79F81 !important;">
					<span class="glyphicon glyphicon-tag icon-large"></span> <br />
					Seats<br/>
				</button>
			</a>

			<a ng-href="#/cargo/create" ng-show="role == 1 || role == 4">
				<button class="btn btn-danger btn-lg quick-links" style="background-color: #4942CC !important; border: 1px solid #4942CC !important;">
					<span class="glyphicon glyphicon-shopping-cart icon-large"></span> <br />
					Waybills<br/>
				</button>
			</a>

			<a ng-href="#/baggage/new_baggage" ng-show="role == 1 || role == 4">
				<button class="btn btn-danger btn-lg quick-links" style="background-color: #BCA9F5 !important; border: 1px solid #BCA9F5 !important;">
					<span class="glyphicon glyphicon-briefcase icon-large"></span> <br />
					Baggages<br/>
				</button>
			</a>

			<a ng-href="#/net_cash/index" ng-show="role == 1 || role == 5">
				<button class="btn btn-danger btn-lg quick-links" style="background-color: #81BEF7 !important; border: 1px solid #81BEF7 !important;">
					<span class="glyphicon glyphicon-plus-sign icon-large"></span> <br />
					Cash-On-Hand<br/>
				</button>
			</a>

			<a ng-href="#/deductions" ng-show="role == 1 || role == 5">
				<button class="btn btn-danger btn-lg quick-links" style="background-color: #F78181 !important; border: 1px solid #F78181 !important;">
					<span class="glyphicon glyphicon-minus-sign icon-large"></span> <br />
					Disbursments<br/>
				</button>
			</a>
	
		</div>
	</div>
	</center>

	<center ng-hide="role == 6">
	<div class="row-fluid">
		<div class="col-md-12">
			<h4>Reports Portal:</h4>
			<a ng-href="#/reports/daily_revenue" ng-show="role == 1 || role == 5">
				<button class="btn btn-default btn-lg quick-links">
					<span class="fa fa-ruble icon-large"></span> <br />
					Daily Revenue<br/>
				</button>
			</a>
			<a ng-href="#/reports/traffic_report" ng-show="role == 1 || role == 5">
				<button class="btn btn-default btn-lg quick-links">
					<span class="fa fa-newspaper-o icon-large"></span> <br />
					Daily Monitoring<br/>
				</button>
			</a>
			<a ng-href="#/reports/inclusive_tickets" ng-show="role == 1 || role == 3 || role == 4">
				<button class="btn btn-default btn-lg quick-links">
					<span class="fa fa-ticket icon-large"></span> <br />
					Tellers Report<br/>
				</button>
			</a>

			<a ng-href="#/reports/tellers_and_pursers" ng-show="role == 1 || role == 4">
				<button class="btn btn-default btn-lg quick-links">
					<span class="glyphicon glyphicon-th-list icon-large"></span> <br />
					Pursers Report<br/>
				</button>
			</a>

			<a ng-href="#/reports/complimentary_tickets" ng-show="role == 1 || role == 4">
				<button class="btn btn-default btn-lg quick-links">
					<span class="fa fa-credit-card icon-large"></span> <br />
					Complimentary Tickets<br/>
				</button>
			</a>

			<a ng-href="#/reports/inspection_report" ng-show="role == 1 || role == 4">
				<button class="btn btn-default btn-lg quick-links">
					<span class="glyphicon glyphicon-search icon-large"></span> <br />
					Inspection Report<br/>
				</button>
			</a>

			<a ng-href="#/reports/manifest" ng-show="role == 1 || role == 3 || role == 4">
				<button class="btn btn-default btn-lg quick-links">
					<span class="fa fa-group icon-large"></span> <br />
					Passenger Manifest<br/>
				</button>
			</a>

			<a ng-href="#/reports/cargo_manifest" ng-show="role == 1 || role == 3 || role == 4">
				<button class="btn btn-default btn-lg quick-links">
					<span class="fa fa-truck icon-large"></span> <br />
					Cargo Manifest<br/>
				</button>
			</a>
	
		</div>
	</div>
	</center>

</div>
