<div>

	<h3><span class="fa fa-refresh"></span> Administrative Settings → Sync All</h3>
    <br />

    <p>Synchronize all settings from the cloud?</p>
    <span class="help-block" ng-show="isSync"><span class="fa fa-spinner fa-spin"></span> Synchronizing... Please wait</span>
    <br />
    <button class="btn btn-success" ng-click="startSync();" ng-disabled="isSync"><span class="fa fa-cloud"></span> Synchronize</button>

</div>