/* Div Margins */
.add-margin	{
	margin-top: 10px;
	margin-bottom: 10px;
}

.add-padding	{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.no-padding {
	padding: 0px !important;
}

.font-black {
	color: black;
}