.icon-large{
	font-size: 4em;
	/*border: 1px solid #FF8000;
	background-color: #FF8000;*/
	padding: 10px 10px 10px 10px;
}

.icon-label{
	font-size: 3em;
}

#box{
	border: 7px solid white;
	text-align:center;
	background-color: #EC971F;
	padding: 10px 10px 10px 10px;

}

.quick-links	{
	margin: 8px 8px 8px 8px;
}

.popover {
    max-width: 1000px;
}
