.report-header{
	text-align: center;
}

.report-title{
	text-align: center;
	padding: 12px 0px 12px 0px;
}

.vessel-details{
	width: 100%;
}

.revenue{
	padding: 30px 0px 0px 0px;
}

.revenue-details{
	width: 100%;
	border:1px solid black;
}

th.th-rev{
	text-align:center;
	border:1px solid black;
}

td.td-space{
	height: 14px;
	border:1px solid black;
}

td.td-rev{
	border:1px solid black;
	text-align: right;
}

td.td-label{
	border:1px solid black;
	text-align: left;
}

td.td-label-center{
	border:1px solid black;
	text-align: center;
}

td.td-totals{
	border:3px solid black;
	text-align: right;
	font-weight: bold;
}

.signature{
	width: 100%;
}

.notes{
	padding: 50px 0px 0px 0px;
}

.note-space{
	height:20px;
}

.inventory{
	padding: 20px 0px 0px 0px;
}

.left {
    width: 50%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
    padding: 30px 30px 30px 30px;
}
.right {
	width: 50%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-align: left;
    padding: 30px 30px 30px 30px;
}
