.seat-table	{
	border: 1px solid #CCC;
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
}

.seat-table th, .seat-table td {
	text-align: center;
	border: 1px solid #CCC;
	width: 40px;
	height: 40px;
	padding: 5px;
}

.seat-table-hover td:hover	{
	background-color: #428BCA !important;
	cursor: pointer;
	color: white !important;
}

