<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-map-marker"></span> Voyage Configurations → Trips</h3>
    <br />
    <table class="table table-striped table-responsive">
        <tr>
            <th>Name</th>
            <th>Route</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in tripList">
            <td>{{value.name}}</td>
            <td><a ng-href="#/route">{{joinRoute(value.route_id)}}</a></td>
            <td>{{value.departure_time}}</td>
            <td>{{value.arrival_time}}</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Trip" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="tripCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Trip </button>
    <!-- <button class="btn btn-default" ng-click="check();">Check</button> -->

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Trip Core</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Name:</label>
                        <input type="text" class="form-control" ng-model="newTrip.name" required />
                        <br />

                        <label>Route:</label>
                        <select style="width: 100%" class="form-control" ng-model="newTrip.route_id" required>
                            <option ng-repeat="value in routeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Departure Time:</label>
                        <center>
                            <timepicker ng-model="newTrip.departure_time" ng-change="" hour-step="1" minute-step="1" show-meridian="false" required></timepicker>
                        </center>

                        <label>Arrival Time:</label>
                        <center>
                            <timepicker ng-model="newTrip.arrival_time" ng-change="" hour-step="1" minute-step="1" show-meridian="false" required></timepicker>
                        </center>
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addTrip();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Trip </h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Name:</label>
                        <input type="text" class="form-control" ng-model="tripItems[currentIndex].name" required />
                        <br />

                        <label>Route:</label>
                        <select style="width: 100%" class="form-control" ng-model="tripItems[currentIndex].route_id" required >
                            <option ng-repeat="value in routeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Departure Time:</label>
                        <center>
                            <timepicker ng-model="tripItems[currentIndex].departure_time" ng-change="" hour-step="1" minute-step="1" show-meridian="false" required></timepicker>
                        </center>

                        <label>Arrival Time:</label>
                        <center>
                            <timepicker ng-model="tripItems[currentIndex].arrival_time" ng-change="" hour-step="1" minute-step="1" show-meridian="false" required></timepicker>
                        </center>

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="tripItems[currentIndex].active" required>
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editTrip();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>