<div ng-init="update()">
    
    <h3><span class="glyphicon glyphicon-arrow-up"></span> Upgrades → Upgrade Lists</h3>
    <br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Voyage</th>
            <th>Series No.</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="(key, value) in upgradeList">
            <td>{{value.voyage}}</td>
            <th>{{value.series_no}}</th>
            <td>{{value.amt}}</td>
            <td>{{value.status}}</td>
            <td>
                <a ng-hide="value.status_id == 6 || value.status_id == 7" title="Refund Upgrade" data-toggle="modal" data-target="#refundModal" ng-click="getUpgradeIndex(value.id);" style="cursor: pointer;"><span class="glyphicon glyphicon-share"></span></a>
                <a ng-hide="value.status_id == 6 || value.status_id == 7" title="Cancel Upgrade" data-toggle="modal" data-target="#cancelModal" ng-click="getUpgradeIndex(value.id);" style="cursor: pointer;"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="upgradeCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <!-- Refund Upgrade -->
    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Refund Upgrade</h4>
                </div>
                <div class="modal-body">
                    Refund upgrade?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="refundUpgrade();" data-dismiss="modal">Refund</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Upgrade -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cancel Upgrade</h4>
                </div>
                <div class="modal-body">
                    Cancel upgrade?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cancelUpgrade();" data-dismiss="modal">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

