<div ng-init="init();">
    
    <h3><span class="glyphicon glyphicon-shopping-cart"></span> Cargo and Waybills → Create Waybills</h3>
    <br />
    
    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <!-- Create Waybill -->
    <div ng-show="waybill.voyage">

        <div class="row-fluid">

            <!-- Selector -->
            <div class="col-md-7 add-margin">

                <!-- Waybill loading -->
                <div  class="row-fluid">
                    <div class="col-md-12 add-margin" ng-show="isWaybillPrinting">
                        <h4> <span class="fa fa-spinner fa-spin"></span> Please wait while your waybill prints... </h4>
                    </div>
                </div>

                <!-- Series, Plate No, Rates -->
                <div class="row-fluid" ng-hide="isWaybillPrinting">

                    <div class="col-md-3 add-margin">
                        <label>Series No:</label>
                        <input type="text" class="form-control" ng-model="waybill.series_no" />
                    </div>

                    <div class="col-md-3 add-margin">
                        <label>Plate No:</label>
                        <input type="text" class="form-control" ng-model="cargo.plate_num" ng-disabled="!new_shipper_plate && shipper.id" />
                    </div>

                    <div class="col-md-5 add-margin">
                        <label>Rate: </label>
                        <p class="input-group">
                            <input type="text" class="form-control" ng-model="waybill.price_paid" ng-disabled="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cargoRateModal">Click to display rates</button>
                            </span>
                        </p>                    
                    </div>
                    <div class="col-md-1 add-margin">
                        <label>Print:</label>
                        <input type="checkbox" class="form-control" ng-model="enable_print" />
                    </div>
                </div>

                <!-- Find Shipper -->
                <div class="row-fluid" ng-show="advanced_options && !isWaybillPrinting">
                    <div class="col-md-12 add-margin">
                        <label>Find Shipper:</label> {{displayShipper()}}
                        <input type="text" class="form-control" placeholder="Type shipper name here" ng-model="shipper" typeahead="value as value.name for value in typeShipper($viewValue)" />
                        <a style="font-style: italic; cursor: pointer;" data-toggle="modal" data-target="#createShipper">Click here to create new shipper</a>
                    </div>
                </div>

                <!-- Select Plate No -->
                <div class="row-fluid" ng-show="advanced_options && !isWaybillPrinting">
                    <div class="col-md-8 add-margin">
                        <label>Select Plate No:</label>
                        <select class="form-control" ng-change="setAccountable();" ng-model="cargo" ng-options="value as value.plate_num for value in shipper_plates" ng-disabled="disable.plate_list || !shipper.id">
                        </select>
                    </div>
                    <div class="col-md-4 add-margin">
                        <label>New Plate Number:</label> ({{bool[new_shipper_plate]}})
                        <input type="checkbox" class="form-control" ng-click="toggleIsNewPlateNum()" ng-model="new_shipper_plate" ng-disabled="!shipper.id" /> 
                    </div>
                </div>

                <!-- On Account, Address, Etc -->
                <div class="row-fluid" ng-show="advanced_options && !isWaybillPrinting">
                    <div class="col-md-8 add-margin">
                        <label>Address:</label>
                        <input type="text" class="form-control" ng-model="cargo.address" ng-disabled="!new_shipper_plate && shipper.id" />
                    </div>
                    <div class="col-md-4 add-margin">
                        <label>Is Accountable:</label>
                        <input type="checkbox" class="form-control" ng-model="cargo.on_account" ng-disabled="!new_shipper_plate && shipper.id" /> 
                    </div>
                </div>

                <!-- Articles -->
                <div class="row-fluid" ng-show="advanced_options && !isWaybillPrinting">
                    <div class="col-md-4 add-margin">
                        <label>Article No:</label> <br />
                        <input type="text" class="form-control" ng-model="cargo.article_no" ng-disabled="!new_shipper_plate && shipper.id" />
                    </div>
                    <div class="col-md-8 add-margin">
                        <label>Article Description</label> <br />
                        <input type="text" class="form-control" ng-model="cargo.article_desc" ng-disabled="!new_shipper_plate && shipper.id" />
                    </div>
                </div>

                <!-- Advanced options toggle -->
                <div class="row-fluid" ng-hide="isWaybillPrinting">
                    <div class="col-md-12 add-margin">
                        <input type="checkbox" ng-model="advanced_options" /> {{options_display[advanced_options]}} Advanced Options
                    </div>
                </div>

                <!-- Button -->
                <div class="row-fluid" ng-hide="isWaybillPrinting">
                    <div class="col-md-12 add-margin">
                        <button class="btn btn-primary" ng-disabled="!cargo.plate_num || !waybill.price_paid" data-toggle="modal" data-target="#addModal">Create New Waybill</button>
                    </div>
                </div>

            </div>

            <!-- CRUD -->
            <div class="col-md-5 add-margin">
                <table class="table table-striped table-bordered table-responsive">
                    <tr>
                        <th>Lading No</th>
                        <th>Series No</th>
                        <th>Cargo Class</th>
                        <th>Rate</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="value in waybillList">
                        <td class="ticket-list">{{value.lading_no}}</td>
                        <td class="ticket-list">{{value.series_no}}</td>
                        <td class="ticket-list">{{value.cargo_class_name}}</td>
                        <td class="ticket-list">{{value.price_paid}}</td>
                        <td class="ticket-list">
                            <a title="Print Waybill" data-toggle="modal" data-target="#printWaybill" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-print"></span></a>
                            <a ng-hide="value.status == 3 || value.status == 4 || value.status == 5 || value.status == 6 || value.status == 7" title="Refund Waybill" data-toggle="modal" data-target="#refundWaybill" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-share"></span></a>
                            <a ng-hide="value.status == 3 || value.status == 4 || value.status == 5 || value.status == 6 || value.status == 7" title="Cancel Waybill" data-toggle="modal" data-target="#cancelWaybill" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </table>

                <pagination 
                    total-items="waybillCount" 
                    ng-model="currentPage" 
                    max-size="maxSize" 
                    class="pagination-sm" 
                    boundary-links="true" 
                    rotate="false" 
                    num-pages="numPages"
                    ng-change="update()"
                ></pagination>

            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create New Waybill</h4>
                    </div> 
                    <div class="modal-body">
                        Do you wish to proceed? (Make sure all data entered is correct)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="createCargo();" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cargoRateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Select Rate</h4>
                    </div>
                    <div class="modal-body no-padding">
                        <table class="table table-responsive table-striped" style="text-align: center;">
                            <tr>
                                <td><strong>Type</strong></td>
                                <td><strong>Regular Rate</strong></td>
                                <td><strong>Discounted Rate</strong></td>
                            </tr>
                            <tr ng-repeat="value in cargo_fare_rates_list">
                                <td>{{joinCargoClass(value.class)}}</td>
                                <td><a style="cursor: pointer;" data-dismiss="modal" ng-click="setRate(value.class, value.regular_rate, value.regular_rate, value.discount)">{{value.regular_rate}}</a></td>
                                <td><a style="cursor: pointer;" data-dismiss="modal" ng-click="setRate(value.class, value.discounted_rate, value.regular_rate, value.discount)">{{value.discounted_rate}}</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="createShipper" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create New Shipper</h4>
                    </div>
                    <div class="modal-body">
                        <ng-form name="createShipper" novalidate role="form">
                            <label>Shipper Name: </label> <span style="color: #D9534F !important">{{displayExistingShipper()}}</span>
                            <input type="text" class="form-control" ng-change="nameShipper();" ng-model="create_shipper.name" required />
                            <br />
                        </ng-form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="createNewShipper();" ng-disabled="(createShipper.$dirty && createShipper.$invalid) || createShipper.$pristine || existing_shipper_list.length">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Print Waybill -->
        <div class="modal fade" id="printWaybill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Print Waybill</h4>
                    </div>
                    <div class="modal-body">
                        Print waybill {{waybillItems[currentIndex].lading_no}}?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="printWaybill();" data-dismiss="modal">Print</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Refund Waybill -->
        <div class="modal fade" id="refundWaybill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Refund Waybill</h4>
                    </div>
                    <div class="modal-body">
                        Refund waybill {{waybillItems[currentIndex].lading_no}}?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="refundWaybill();" data-dismiss="modal">Refund</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cancel Waybill -->
        <div class="modal fade" id="cancelWaybill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cancel Waybill</h4>
                    </div>
                    <div class="modal-body">
                        Cancel waybill {{waybillItems[currentIndex].lading_no}}?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="cancelWaybill();" data-dismiss="modal">Proceed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
