<div ng-init="init();">
    
    <h3><span class="glyphicon glyphicon-shopping-cart"></span> Cargo and Waybills → Create Waybills</h3>
    <br />
    
    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="waybill.voyage">

        <div class="row-fluid">
            <div class="col-md-6">
                <label>Shipper Options: </label>
                <select class="form-control" ng-model="shipperOption" ng-change="resetPlateNum();">
                    <option ng-repeat="(key,value) in shipperOptionList" value="{{key}}">{{value}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <!-- Select Shipper -->
                <div ng-show="shipperOption == 0">
                    <label>Select Shipper: </label>
                    <select class="form-control" ng-model="cargo.shipper" ng-change="getCargoList();">
                        <option ng-repeat="value in shipperList" value="{{value.id}}">{{value.name}}</option>
                    </select>
                    <br />
                </div>
                <!-- Create New Shipper -->
                <div ng-show="shipperOption == 1">
                    <label>Create New Shipper: </label>
                    <input type="text" class="form-control" ng-model="new_shipper" />
                    <br />
                </div>
            </div>

        </div>

        <div class="row-fluid">

            <!-- <div class="col-md-6">
                <div ng-hide="shipperOption == 1">
                    <label>Plate Options: </label>
                    <select class="form-control" ng-model="plateOption" ng-change="plateOptionChange();">
                        <option ng-repeat="(key,value) in plateOptionList" value="{{key}}">{{value}}</option>
                    </select>
                    <br />
                </div>
            </div> -->

            <div class="col-md-6">
                <!-- Create New -->
                <div ng-show="shipperOption == 1">
                    <label>Plate Number: </label>
                    <input type="text" class="form-control" ng-model="cargo.plate_num" />
                    <br />
                </div>
                <!-- Select From List -->
                <div ng-show = "shipperOption == 0">
                    <label>Plate Number: </label>
                    <select class="form-control" ng-model="selectedPlateNum" ng-change="getPlateNum();">
                        <option ng-repeat="value in cargoList" value="{{value.id}}">{{value.plate_num}}</option>
                    </select>
                    <br />
                </div>
            </div>

            <div class="col-md-4">
                <label>Rate: </label>
                <p class="input-group">
                    <input type="text" class="form-control" ng-click="openCargoList();" ng-model="waybill.price_paid" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cargoRateModal" style="cursor: pointer;"><i class="glyphicon glyphicon-credit-card"></i></button>
                    </span>
                </p>
                <br />
            </div>

            <div class="col-md-2">
                <label>Series Number: </label>
                <input type="text" class="form-control" ng-model="waybill.series_no"/>
                <br />
            </div>

        </div>

        <div class="row-fluid">
            
            <div class="col-md-6">
                <label>Article Number: </label>
                <input ng-disabled="shipperOption == 0" type="text" class="form-control" ng-model="cargo.article_no" />
                <br />
            </div>

            <div class="col-md-6">
                <label>On-Account: </label><br />
                <select ng-disabled="shipperOption == 0" class="form-control" ng-model="cargo.on_account">
                        <option ng-repeat="(key, value) in bool" value="{{key}}">{{value}}</option>
                    </select>
                <br />
            </div>

        </div>

        <div class="row-fluid">
            
            <div class="col-md-6">
                <label>Address: </label>
                <input ng-disabled="shipperOption == 0" type="text" class="form-control" ng-model="cargo.address" />
                <br />
            </div>
 
            <div class="col-md-6">
                <label>Article Description: </label>
                <textarea ng-disabled="shipperOption == 0" class="form-control" ng-model="cargo.article_desc"></textarea>
                <br />
            </div>

        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <button ng-disabled="!(cargo.plate_num && waybill.price_paid)" class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Create Waybill</button>
            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create New Waybill</h4>
                    </div> 
                    <div class="modal-body">
                        Do you wish to proceed? (Make sure all data entered is correct)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="addCargo();" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cargoRateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Select Rate</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-responsive table-striped">
                            <tr>
                                <th>Type</th>
                                <th>Regular Rate</th>
                                <th>Discounted Rate</th>
                            </tr>
                            <tr ng-repeat="value in cargoRateList">
                                <td>{{joinCargoClass(value.class)}}</td>
                                <td><a style="cursor: pointer;" data-dismiss="modal" ng-click="setRate(value.class, value.regular_rate, value.regular_rate, value.discount)">{{value.regular_rate}}</a></td>
                                <td><a style="cursor: pointer;" data-dismiss="modal" ng-click="setRate(value.class, value.discounted_rate, value.regular_rate, value.discount)">{{value.discounted_rate}}</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Waybills -->
    <div ng-show="waybill.voyage">
        <!-- Put Waybill Mini-CRUD here when I have time -->
    </div>

</div>


