<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-book"></span> Cargo and Baggage Configurations → On-Account Cargoes</h3>
    <br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Plate Number</th>
            <th>Shipper</th>
            <th>Address</th>
            <th>Article No</th>
            <th>Article Description</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in cargoList">
            <td>{{value.plate_num}}</td>
            <td>{{joinShipper(value.shipper)}}</td>
            <td>{{value.address}}</td>
            <td>{{value.article_no}}</td>
            <td>{{value.article_desc}}</td>
            <td>
                <a title="Edit Cargo " data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="cargoCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Cargo </button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Cargo</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalForm" novalidate role="form">
                        <label>Plate No:</label>
                        <input type="text" class="form-control" ng-model="newCargo.plate_num" required/>
                        <br />

                        <label>Shipper:</label>
                        <select class="form-control" ng-model="newCargo.shipper" required>
                            <option ng-repeat="value in shipperList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Address:</label>
                        <input type="text" class="form-control" ng-model="newCargo.address" />
                        <br />

                        <label>Article No:</label>
                        <input type="text" class="form-control" ng-model="newCargo.article_no" />
                        <br />

                        <label>Article Desc:</label>
                        <textbox type="text" class="form-control" ng-model="newCargo.article_desc" ></textbox>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addCargo(); update();" data-dismiss="modal" ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Cargo</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Plate No:</label>
                        <input type="text" class="form-control" ng-model="cargoItems[currentIndex].plate_num" required/>
                        <br />

                        <label>Shipper:</label>
                        <select class="form-control" ng-model="cargoItems[currentIndex].shipper" required>
                            <option ng-repeat="value in shipperList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Address:</label>
                        <input type="text" class="form-control" ng-model="cargoItems[currentIndex].address" />
                        <br />

                        <label>Article No:</label>
                        <input type="text" class="form-control" ng-model="cargoItems[currentIndex].article_no" />
                        <br />

                        <label>Article Desc:</label>
                        <textbox type="text" class="form-control" ng-model="cargoItems[currentIndex].article_desc" ></textbox>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editCargo(); update();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
