<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-list-alt"></span> Cargo and Waybills → Waybill Lists</h3>
    <br />
    
    <table class="table table-striped table-responsive">
        <tr>
            <th>Lading No</th>
            <th>Series No</th>
            <th>Voyage</th>
            <th>Cargo Class</th>
            <th>Rate</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in waybillList">
            <td>{{value.lading_no}}</td>
            <td>{{value.series_no}}</td>
            <td>{{value.voyage}}</td>
            <td>{{joinCargoClass(value.cargo_class)}}</td>
            <td>{{value.price_paid}}</td>
            <td>{{joinStatus(value.status)}}</td>
            <td>
                <a title="Print Waybill" data-toggle="modal" data-target="#printWaybill" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-print"></span></a>
                <a ng-hide="value.status == 3 || value.status == 4 || value.status == 5 || value.status == 6 || value.status == 7" title="Refund Waybill" data-toggle="modal" data-target="#refundWaybill" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-share"></span></a>
                <a ng-hide="value.status == 3 || value.status == 4 || value.status == 5 || value.status == 6 || value.status == 7" title="Cancel Waybill" data-toggle="modal" data-target="#cancelWaybill" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="waybillCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <a href="#/cargo"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New Waybill</button></a>

    <!-- Print Waybill -->
    <div class="modal fade" id="printWaybill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Print Waybill</h4>
                </div>
                <div class="modal-body">
                    Print waybill {{waybillItems[currentIndex].lading_no}}?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="printWaybill();" data-dismiss="modal">Print</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Refund Waybill -->
    <div class="modal fade" id="refundWaybill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Refund Waybill</h4>
                </div>
                <div class="modal-body">
                    Refund waybill {{waybillItems[currentIndex].lading_no}}?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="refundWaybill();" data-dismiss="modal">Refund</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Waybill -->
    <div class="modal fade" id="cancelWaybill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cancel Waybill</h4>
                </div>
                <div class="modal-body">
                    Cancel waybill {{waybillItems[currentIndex].lading_no}}?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cancelWaybill();" data-dismiss="modal">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

