<div ng-init="init(); update();">

    <h3><span class="glyphicon glyphicon-calendar"></span> Voyage Configurations → Voyages</h3>
    <br />
    <table class="table table-striped table-responsive">
        <tr>
            <th>Voyage Number</th>
            <th>Vessel</th>
            <th>Trip Used</th>
            <th>Departure Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in VoyageList">
            <td>{{value.number}}</td>
            <td>{{joinVessel(value.vessel)}}</td>
            <td>{{joinTrip(value.trip)}}</td>
            <td>{{value.departure_date}}</td>
            <td>{{joinStatus(value.status)}}</td>
            <td>
                <a title="Edit Voyage" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
                <a title="Board All Passengers" data-toggle="modal" data-target="#boardModal" style="cursor: pointer;" ng-click="getIndex(value.id);" ><span class="fa fa-anchor"></span></a>
                <a title="Close Voyage" data-toggle="modal" data-target="#deleteModal" style="cursor: pointer;" ng-click="getIndex(value.id);" ><span class="glyphicon glyphicon-remove-sign"></span></a>
                <a title="Cancel Voyage" data-toggle="modal" data-target="#cancelModal" style="cursor: pointer;" ng-click="getIndex(value.id);" ><span class="glyphicon glyphicon-trash"></span></a>
                <a title="POST to Cloud" style="cursor: pointer;" ng-click="getIndex(value.id); sendReportToCloud();" ><span class="glyphicon glyphicon-cloud"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="VoyageCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Voyage</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Voyage</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalForm" novalidate role="form">
                        <label>Number:</label>
                        <input type="text" class="form-control" ng-model="newVoyage.number" required />
                        <br />

                        <label>Vessel:</label>
                        <span class="help-block">Note: You cannot edit selected vessel of this voyage once set</span>
                        <select class="form-control" ng-model="newVoyage.vessel" required>
                            <option ng-repeat="value in vesselList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Trip Used: </label>
                        <select class="form-control" ng-model="newVoyage.trip" required>
                            <option ng-repeat="value in tripList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Departure Date:</label>
                        <p class="input-group">
                            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="newVoyage.departure_date" is-open="opened" required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <br />

                        <label>Assigned Port Officer:</label>
                        <textarea ng-model="newVoyage.port_officer" class="form-control"></textarea>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addVoyage(); update();" data-dismiss="modal" ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Voyage</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Number:</label>
                        <input type="text" class="form-control" ng-model="VoyageItems[currentIndex].number" required />
                        <br />

                        <!-- <label>Vessel:</label>
                        <select class="form-control" ng-model="VoyageItems[currentIndex].vessel" required>
                            <option ng-repeat="value in vesselList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br /> -->

                        <label>Trip Used: </label>
                        <select class="form-control" ng-model="VoyageItems[currentIndex].trip" required>
                            <option ng-repeat="value in tripList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Departure Date:</label>
                        <p class="input-group">
                            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="VoyageItems[currentIndex].departure_date" is-open="opened" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <br />

                        <label>Assigned Port Officer:</label>
                        <textarea ng-model="VoyageItems[currentIndex].port_officer" class="form-control"></textarea>
                        <br />

                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editVoyage();" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Set Close Status</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Set Close Status:</label>
                        <select class="form-control" ng-model="VoyageClosed[currentIndex].status" required>
                            <option ng-repeat="value in statusList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <span class="help-block" ng-show="VoyageClosed[currentIndex].status == 9">Sets all ticket that are not checked-in as "No Show". All seats that were reserved by these tickets will then be open for last-minute passengers and seat transfer requests.</span>

                        <span class="help-block" ng-show="VoyageClosed[currentIndex].status == 10">Voyage will be closed and all transactions for this voyage will no longer be allowed.</span>
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="closeVoyage();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Close Voyage</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Board All Passengers</h4>
                </div>
                <div class="modal-body">
                    Board all passengers in this voyage?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="boardPassengers();">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cancel Voyage</h4>
                </div>
                <div class="modal-body">
                    Cancel voyage? (All tickets within this voyage will be `cancelled` also)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelVoyage();">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
