<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-user"></span> Administrative Settings → Manage Accounts</h3>
	<br />
    
    <table class="table table-striped table-responsive">
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Employee No.</th>
            <th>Employee Name</th>
            <th>Assigned Printer Address</th>
            <th>Email Address</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in userList">
            <td>{{value.username}}</td>
            <td><a ng-href="#/auth/roles">{{joinRole(value.role)}}</a></td>
            <td>{{value.employee_no}}</td>
            <td>{{value.first_name}} {{value.last_name}}</td>
            <td>{{joinPrinter(value.assigned_printer)}}</td>
            <td>{{value.email}}</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit User" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
                <a title="Force Change Password" data-toggle="modal" data-target="#changePassword" style="cursor: pointer;" ng-click="getIndex(value.id);"><span class="fa fa-unlock"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="userCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Account</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Account</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalForm" novalidate role="form">
                        <label>Username:</label>
                        <input type="text" class="form-control" ng-model="newUser.username" required />
                        <br />

                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="newUser.password" required />
                        <br />

                        <label>Confirm Password:</label>
                        <input type="password" class="form-control" ng-model="newUser.passwordMatch" required />
                        <span class="help-block" style="color: red !important;" ng-show="newUser.password != newUser.passwordMatch">Error: Password do not match</span>

                   		<br />
                        <label>Role:</label>
                        <select style="width: 100%" class="form-control" ng-model="newUser.role" required>
                            <option ng-repeat="(key,value) in roleList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                    	<label>Employee No:</label>
                        <input type="text" class="form-control" ng-model="newUser.employee_no" required />
                        <br />

                        <label>First Name:</label>
                        <input type="text" class="form-control" ng-model="newUser.first_name" required />
                        <br />

                        <label>Last Name:</label>
                        <input type="text" class="form-control" ng-model="newUser.last_name" required />
                        <br />

                        <label>Assigned Printer:</label>
                        <select style="width: 100%" class="form-control" ng-model="newUser.assigned_printer" required>
                            <option ng-repeat="(key,value) in printerList" value="{{value.id}}">{{value.host_name}}@{{value.host_address}}</option>
                        </select>
                        <br />

                        <label>Email Address:</label>
                        <input type="text" class="form-control" ng-model="newUser.email" required />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addUser(); update();" data-dismiss="modal" ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine || newUser.password != newUser.passwordMatch">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Account</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Username:</label>
                        <input type="text" class="form-control" ng-model="userItems[currentIndex].username" required />
                        <br />

                        <label>Role:</label>
                        <select style="width: 100%" class="form-control" ng-model="userItems[currentIndex].role" required>
                            <option ng-repeat="(key,value) in roleList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                    	<label>Employee No:</label>
                        <input type="text" class="form-control" ng-model="userItems[currentIndex].employee_no" required />
                        <br />

                        <label>First Name:</label>
                        <input type="text" class="form-control" ng-model="userItems[currentIndex].first_name" required />
                        <br />

                        <label>Last Name:</label>
                        <input type="text" class="form-control" ng-model="userItems[currentIndex].last_name" required />
                        <br />

                        <label>Assigned Printer:</label>
                        <select style="width: 100%" class="form-control" ng-model="userItems[currentIndex].assigned_printer" required>
                            <option ng-repeat="(key,value) in printerList" value="{{value.id}}">{{value.host_name}}@{{value.host_address}}</option>
                        </select>
                        <br />

                        <label>Email Address:</label>
                        <input type="text" class="form-control" ng-model="userItems[currentIndex].email" required />
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="userItems[currentIndex].active" required>
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editUser();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
          				<span class="help-block">This will forcefully change the account's password without informing the user.
          				<br/>Notify account user before proceeding</span>

          				<label>Username:</label>
                        <input type="text" ng-disabled="true" class="form-control" ng-model="userItems[currentIndex].username" />
                        <br />

                        <label>Enter New Password:</label>
                        <input type="password" class="form-control" ng-model="newPassword.password" required />
                        <br />

                        <label>Confirm New Password:</label>
                        <input type="password" class="form-control" ng-model="newPassword.passwordMatch" required />
                        <span class="help-block" style="color: red !important;" ng-show="newPassword.password != newPassword.passwordMatch">Error: Password do not match</span>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changePassword();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine || newPassword.password != newPassword.passwordMatch">Change Password</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>