<div class="login">

    <center><h3>Ticketing Application</h3></center>
    <br />

    <form name="loginForm" class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="username"><i class="ace-icon fa fa-user"></i> Username </label>
            <div class="col-sm-7">
               <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control" placeholder="Username" name="username" ng-model="login.username" required focus/>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="password"><i class="ace-icon fa fa-lock"></i> Password </label>
            <div class="col-sm-7">
               <span class="block input-icon input-icon-right">
                    <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                </span>
            </div>
        </div>
        <div class="space"></div>
        <div class="clearfix">
            <div class="row">
            <label class="col-sm-3 control-label no-padding-right"> </label>
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                        <i class="ace-icon fa fa-key"></i>
                        Login
                    </button>
                </div>
            </div>
        </div>
        <div class="space-4"></div>
    </form>
    <br />
    <center><a style="cursor: pointer;" ng-click="forgotPassword();">Forgot Password?</a></center>

</div>

