<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-lock"></span> Administrative Settings → Manage Permissions</h3>
    <br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Permission</th>
            <th>URL Route</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in permissionList">
            <td><a ng-href="#/auth/roles">{{joinRole(value.role)}}</a></td>
            <td>{{value.url_route}}</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Permission" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="permissionCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Permission</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" permission="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Permission</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                    	<label>Role:</label>
                        <select class="form-control" ng-model="newPermission.role" required >
                            <option ng-repeat="value in roleList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>URL Route:</label>
                        <input type="text" class="form-control" ng-model="newPermission.url_route" required />
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addPermissions(); update();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" permission="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Permission</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                    	<label>Role:</label>
                        <select class="form-control" ng-model="permissionItems[currentIndex].role" required >
                            <option ng-repeat="value in roleList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>URL Route:</label>
                        <input type="text" class="form-control" ng-model="permissionItems[currentIndex].url_route" required />
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="permissionItems[currentIndex].active" required >
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPermissions(); update();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
