<div ng-init="update();">

	<h3>{{username}} <span class="glyphicon glyphicon-cog"></span> Account Settings</h3>
	<br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Username</th>
            <th>Role</th>
            <th>Employee No.</th>
            <th>Employee Name</th>
            <th>Assigned Printer Address</th>
            <th>Email Address</th>
        </tr>
        <tr>
            <td>{{userAccount.username}}</td>
            <td>{{joinRole(userAccount.role)}}</td>
            <td>{{userAccount.employee_no}}</td>
            <td>{{userAccount.first_name}} {{userAccount.last_name}}</td>
            <td>{{joinPrinter(userAccount.assigned_printer)}}</td>
            <td>{{userAccount.email}}</td>
        </tr>
    </table>

    <button class="btn btn-primary" data-toggle="modal" data-target="#editAccount" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Edit Account Details</button>
    <button class="btn btn-success" data-toggle="modal" data-target="#changePassword" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Change Password</button>

    <!-- Modals -->
    <div class="modal fade" id="editAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Account</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalForm" novalidate role="form">
                        <label>Username:</label>
                        <input type="text" ng-disabled="true" class="form-control" ng-model="userItems.username" />
                        <br />

                        <!-- <label>Role:</label>
                        <select style="width: 100%" class="form-control" ng-model="userItems.role">
                            <option ng-repeat="(key,value) in roleList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br /> -->

                    	<label>Employee No:</label>
                        <input type="text" class="form-control" ng-model="userItems.employee_no" required />
                        <br />

                        <label>First Name:</label>
                        <input type="text" class="form-control" ng-model="userItems.first_name" required />
                        <br />

                        <label>Last Name:</label>
                        <input type="text" class="form-control" ng-model="userItems.last_name" required />
                        <br />

                        <label>Assigned Printer:</label>
                        <select style="width: 100%" class="form-control" ng-model="userItems.assigned_printer" required>
                            <option ng-repeat="(key,value) in printerList" value="{{value.id}}">{{value.host_name}}@{{value.host_address}}</option>
                        </select>
                        <br />

                        <label>Email Address:</label>
                        <input type="text" class="form-control" ng-model="userItems.email" required />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="editAccount(); update();" data-dismiss="modal" ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine">Edit Account</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalPassword" novalidate role="form">
          				<span class="help-block">Enter your previous password in order for the password change to succeed.
          				<br/>Notify system administrator if you forgot your account password</span>

          				<label>Username:</label>
                        <input type="text" ng-disabled="true" class="form-control" ng-model="userItems.username" />
                        <br />

                        <label>Enter Old Password:</label>
                        <input type="password" class="form-control" ng-model="newPassword.old_password" required />
                        <br />

                        <label>Enter New Password:</label>
                        <input type="password" class="form-control" ng-model="newPassword.password" required />
                        <br />

                        <label>Confirm New Password:</label>
                        <input type="password" class="form-control" ng-model="newPassword.passwordMatch" required />
                        <span class="help-block" style="color: red !important;" ng-show="newPassword.password != newPassword.passwordMatch">Error: Password do not match</span>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="changePassword();" ng-disabled="(modalPassword.$dirty && modalPassword.$invalid) || modalPassword.$pristine || newPassword.password != newPassword.passwordMatch">Change Password</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
