<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-print"></span> Administrative Settings → Manage Printer</h3>
    <br />
    <table class="table table-striped table-responsive">
        <tr>
            <th>Host Name</th>
            <th>Host Address</th>
            <th>Port</th>
            <th>Printer</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="value in printerList">
            <td>{{value.host_name}}</td>
            <td>{{value.host_address}}</td>
            <td>{{value.port}}</td>
            <td>{{value.printer}}</td>
            <td>
                <a title="Edit Seating Classes" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="printerCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Printer</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Seating Class</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">

                        <label>Host Name:</label>
                        <input type="text" class="form-control" ng-model="newPrinter.host_name" required />
                        <br />

                        <label>Host Address:</label>
                        <input type="text" class="form-control" ng-model="newPrinter.host_address" required />
                        <br />

                        <label>Port:</label>
                        <input type="text" class="form-control" ng-model="newPrinter.port" required />
                        <br />

                        <label>Printer:</label>
                        <input type="text" class="form-control" ng-model="newPrinter.printer" required />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addPrinter(); update();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Seating Class</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">

                        <label>Host Name:</label>
                        <input type="text" class="form-control" ng-model="printerItems[currentIndex].host_name" required />
                        <br />

                        <label>Host Address:</label>
                        <input type="text" class="form-control" ng-model="printerItems[currentIndex].host_address" required />
                        <br />

                        <label>Port:</label>
                        <input type="text" class="form-control" ng-model="printerItems[currentIndex].port" required />
                        <br />

                        <label>Printer:</label>
                        <input type="text" class="form-control" ng-model="printerItems[currentIndex].printer" required />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPrinter();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>