<div ng-init="init();">

	<h3><span class="glyphicon glyphicon-record"></span> Tickets and Boarding → Ticket Status</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" ng-disabled="false" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id, value.vessel); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="tickets.voyage">
    	<div class="row">
    		<div class="col-xs-12">
    			<label>Total Passengers: {{ticketList.length}}</label>
    		</div>
    	</div>

    	<div class="row">
	    	<!-- Business Class -->
	    	<div class="col-xs-4">
	    		<label>Business Class:</label>
	    		<ul>
	    			<li>Reserved (Paid): {{segregatedTicketList['BC'][2].length}}</li>
	    			<li>Checked-In: {{segregatedTicketList['BC'][3].length}}</li>
	    			<li>Boarded: {{segregatedTicketList['BC'][4].length}}</li>
	    			<li><strong>Total:</strong> {{segregatedTicketList['BC']['all'].length}}</li>
	    		</ul>
	    	</div>

	    	<!-- Premium Economy -->
	    	<div class="col-xs-4">
	    		<label>Premium Economy:</label>
	    		<ul>
	    			<li>Reserved (Paid): {{segregatedTicketList['PE'][2].length}}</li>
	    			<li>Checked-In: {{segregatedTicketList['PE'][3].length}}</li>
	    			<li>Boarded: {{segregatedTicketList['PE'][4].length}}</li>
	    			<li><strong>Total:</strong> {{segregatedTicketList['PE']['all'].length}}</li>
	    		</ul>
	    	</div>
	    	
	    	<!-- Economy -->
	    	<div class="col-xs-4">
	    		<label>Economy:</label>
	    		<ul>
	    			<li>Reserved (Paid): {{segregatedTicketList['E'][2].length}}</li>
	    			<li>Checked-In: {{segregatedTicketList['E'][3].length}}</li>
	    			<li>Boarded: {{segregatedTicketList['E'][4].length}}</li>
	    			<li><strong>Total:</strong> {{segregatedTicketList['E']['all'].length}}</li>
	    		</ul>
	    	</div>
	    </div>
    </div>

</div>