<div>

	<h3><span class="fa fa-ship"></span> Tickets and Boarding → Board Tickets</h3>
    <br />

    <label>Scan your ticket barcode, or enter them manually here: </label>
    <form>
        <p class="input-group">
            <input id="ticketInput" class="form-control" type="text" ng-model="ticket.init" />
            <span class="input-group-btn">
                <button ng-click="scanTicket();" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </p>
    </form>

    <p ng-show="ticket.final && !ticket.result">Ticket {{ticket.final}} not found</p>

</div>