<div id="ticketBooth" ng-init="init();" >
    
    <h3><span class="glyphicon glyphicon-tasks"></span> Tickets and Boarding → Ticket Booth</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" ng-disabled="false" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id, value.vessel); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="tickets.voyage">

        <div class="row-fluid">
            <!-- ng-show="tickets.voyage && ticketList" -->
            <!-- Input -->
            <div class="col-md-7">
        
                <div class="row-fluid">
                    <div class="col-md-3">
                        <label>Series At:</label> 
                        <input type="text" class="form-control" ng-model="series_no" /> 
                        <br />
                    </div>
                    <div class="col-md-5">
                        <label>Seating Class:</label> 
                        <select id="seatingClassInput" ng-disabled="seriesList.length" class="form-control" ng-model="tickets.seating_class" ng-change="getPassengerFare(); getSeatTemplate();">
                            <option ng-repeat="value in seatingClassList" value={{value.id}}>{{value.name + " (" + getSeatingCount(value.id) + ")"}}</option>
                        </select> 
                        <br />
                    </div>
                    <div class="col-md-4">
                        <label>Print:</label> 
                        <select style="width: 100%" class="form-control" ng-model="enablePrint" ng-change="check();">
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </div>
                    
                </div>

                <div class="row-fluid">
                    <div class="col-md-4">
                        <label>Price Rate: (₱ {{passenger_fare}})</label> 
                        <select id="passengerTypeInput" class="form-control" ng-model="tickets.passenger_type" ng-change="getPassengerFare();">
                            <option ng-repeat="value in passengerTypeList" value={{value.id}}>{{value.name}}</option>
                        </select> 
                        <br />
                    </div>

                    <div class="col-md-4">
                        <label>First Name:</label> 
                        <input id="firstNameInput" type="text" class="form-control" ng-model="tickets.first_name" /> 
                        <br />
                    </div>

                    <div class="col-md-4">
                        <label>Lastname:</label> 
                        <input id="lastNameInput" type="text" class="form-control" ng-model="tickets.last_name" /> 
                        <br />
                    </div>

                </div>

                <div class="row-fluid">
                    <div class="col-md-12">
                        <button ng-disabled="isTicketPrinting" class="btn btn-primary" ng-click="addToSeries();"><span class="glyphicon glyphicon-plus"></span> Add to Series</button>
                    </div>
                </div>

                <div class="row-fluid">              
                    <div class="row-fluid" ng-show="seriesList.length">
                        <div class="col-md-12">
                            <!-- Display Spinner when adding ticket pending -->
                            <div ng-show="isTicketPrinting">
                                <br />
                                <h4> <span class="fa fa-spinner fa-spin"></span> Please wait while tickets are printing... </h4>
                            </div>
                            <br />

                            <!-- Quick Changes -->
                            <label>Total Fare: ₱ {{seriesSum.toFixed(2)}}</label>
                            <br />
                            <p ng-show="1000-seriesSum > 0"><strong>Fare Change List:</strong></p>
                            <ul ng-show="1000-seriesSum > 0">
                                <li ng-show="200-seriesSum > 0">₱ 200.00 → ₱ {{(200-seriesSum).toFixed(2)}} </li>
                                <li ng-show="500-seriesSum > 0">₱ 500.00 → ₱ {{(500-seriesSum).toFixed(2)}} </li>
                                <li ng-show="1000-seriesSum > 0">₱ 1000.00 → ₱ {{(1000-seriesSum).toFixed(2)}} </li>
                            </ul>

                            <!-- Custom Fare -->
                            <label>Custom Fare: </label>
                            <input style="border: 1px solid #CCC; border-radius: 4px;" type="number" ng-model="customFare" /> <span ng-show="customFare - seriesSum > 0"> → ₱ {{(customFare - seriesSum).toFixed(2)}}</span>

                            <br /><br />
                            <label>Tickets that will be added in series:</label>
                            <table class="table table-responsive">
                                <tr ng-repeat="(key, value) in seriesList">
                                    <td>
                                        {{key+1}}. Series {{(key*1+series_no*1)}}: {{value.first_name}} {{value.last_name}} - {{joinPassengerType(value.passenger_type)}} - {{joinSeatingClass(value.seating_class)}} - ₱ {{value.passenger_fare}} - Print: {{bool[value.print]}}
                                         <button class="btn btn-success" ng-disabled="isTicketPrinting" ng-hide="value.passenger_type == 7" data-toggle="modal" data-target="#transferSeat" style="cursor: pointer;" ng-click="getSeriesIndex(key);">{{seriesList[key].seat_name?seriesList[key].seat_name:"Assign Seat"}}</button>
                                    </td>
                                    <td style="width: 15%">
                                        <a style="cursor: pointer;" ng-hide="isTicketPrinting" ng-click="removeFromSeries(value);"><span class="glyphicon glyphicon-remove-sign"></span> Remove</a>
                                    </td>
                                </tr>
                            </table>
                            <button ng-disabled="isTicketPrinting" class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add Tickets</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- CRUD -->
            <div class="col-md-5">
                <table class="table table-striped table-bordered table-responsive">
                    <tr>
                        <th colspan="3">Total Passenger: </th>
                        <td>{{ticketCount}}</td>
            			<td>₱ {{totalRevenue.toFixed(2)}}</td>
                    </tr>
                    <tr>
                        <th colspan="3">Total Infant: </th>
                        <td>{{infantCount}}</td>
            			<td></td>
                    </tr>
                    <tr ng-repeat="(key,value) in seatingClassList">
                        <td colspan="3"><i>{{value.name}}:</i></td>
                        <td>{{getSeatAvailable(value.id)}}</td>
            			<td>₱ {{classRevenue[key].toFixed(2)}}</td>
                    </tr>
                    <tr ng-repeat="(key, value) in ticketList">
                        <td class="ticket-list">{{value.ticket_no}}</td>
                        <td class="ticket-list">{{value.series_no}}</td>
            			<td class="ticket-list">{{value.price_paid}}</td>
                        <td class="ticket-list">{{joinStatus(value.status)}}</td>
                        <td class="ticket-list">
                            <a title="Print Ticket" style="cursor: pointer;" data-toggle="modal" data-target="#printTicket" ng-click="getTicketIndex(value);"><span class="glyphicon glyphicon-print"></span></a>
                            <!-- <a title="Add baggage for this ticket" style="cursor: pointer;" data-toggle="modal" data-target="#addBaggage" ng-click="getBaggageIndex(value.id, value.passenger)"><span class="glyphicon glyphicon-briefcase"></span></a> -->
                            <a title="Refund Ticket" style="cursor: pointer;" data-toggle="modal" ng-click="getTicketIndex(value);" data-target="#refundModal" ><span class="glyphicon glyphicon-share"></span></a>
                            <a title="Cancel Ticket" style="cursor: pointer;" data-toggle="modal" ng-click="getTicketIndex(value);" data-target="#cancelModal"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </table>

                <pagination 
                    total-items="ticketCount" 
                    ng-model="currentPage" 
                    max-size="maxSize" 
                    class="pagination-sm" 
                    boundary-links="true" 
                    rotate="false" 
                    num-pages="numPages"
                    ng-change="update()"
                ></pagination> <br />

            </div>
        </div>

        <!-- Modals -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create New Ticket</h4>
                    </div> 
                    <div class="modal-body">
                        Do you wish to proceed? (Make sure all data entered is correct)
                    </div>
                    <div class="modal-footer">
                        <button id="addTicketId" type="button" class="btn btn-primary" ng-disabled="disableAdd" ng-click="addTickets();" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Baggage -->
        <div class="modal fade" id="addBaggage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Baggage</h4>
                    </div>
                    <div class="modal-body">
                        <ng-form name="addBaggage" novalidate role="form">
                            <label>Passenger Name:</label>
                            <input class="form-control" type="text" ng-disabled="true" ng-model="passengerName[baggageIndex]" required />
                            <br />

                            <label>Weight:</label>
                            <select class="form-control" ng-model="newBaggage[baggageIndex].weight" ng-change="getBaggagePrice(newBaggage[baggageIndex].weight)" required>
                                <option ng-repeat="value in baggageTypeList" value="{{value.id}}">{{value.weight}}</option>
                            </select>
                            <br />

                            <label>Price:</label>
                            <input type="text" class="form-control" ng-model="newBaggage[baggageIndex].price" ng-disabled="true" required />
                            <br />
                        </ng-form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="addBaggage(); update();" data-dismiss="modal" ng-disabled="(addBaggage.$dirty && addBaggage.$invalid) || addBaggage.$pristine">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Print Ticket -->
        <div class="modal fade" id="printTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Print Ticket</h4>
                    </div>
                    <div class="modal-body">
                        Print ticket {{ticketItems[ticketIndex].ticket_no}}?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="printTicket();" data-dismiss="modal">Print</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Refund Ticket -->
        <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Refund Ticket</h4>
                    </div>
                    <div class="modal-body">
                        Refund ticket {{ticketItems[ticketIndex].ticket_no}}?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="refundTicket();" data-dismiss="modal">Refund</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cancel Ticket -->
        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cancel Ticket</h4>
                    </div>
                    <div class="modal-body">
                        Cancel ticket {{ticketItems[ticketIndex].ticket_no}}?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="cancelTicket();" data-dismiss="modal">Proceed</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Transfer Seat -->
        <div class="modal fade" id="transferSeat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Transfer Seat</h4>
                    </div> 
                    <div class="modal-body">
                        <center><label>Select seat for passenger:</label></center>
                        <table class="seat-table seat-table-hover">
                            <tr ng-repeat="x in seatRow">
                                <td ng-disabled="usedSeats[seats[x][y].id]" ng-repeat="y in seatColumn" ng-click="getSelectedSeat(x,y)" style="{{getSeatColor(usedSeats[seats[x][y].id], selectedSeats[seats[x][y].id])}}">
                                    {{seats[x][y].name}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- JQuery Scripts -->
<script>
    $("#firstNameInput").focus();
</script>
