<div ng-init="update()">
    
    <h3><span class="glyphicon glyphicon-list"></span> Tickets and Boarding → Ticket List</h3>
    <br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Ticket No.</th>
            <th>Series No.</th>
            <th>Passenger Name</th>
            <th>Passenger Type</th>
            <th>Price Paid</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="(key, value) in ticketList">
            <td>{{value.ticket_no}}</td>
            <td>{{value.series_no}}</td>
            <td>{{value.passenger}}</td>
            <td>{{joinPassengerType(value.passenger_type)}}</td>
            <td>{{value.price_paid}}</td>
            <td>{{joinStatus(value.status)}}</td>
            <td>
                <a title="Print Ticket" data-toggle="modal" data-target="#printTicket" ng-click="getTicketIndex(value);" style="cursor: pointer;"><span class="glyphicon glyphicon-print"></span></a>
                <a ng-hide="value.status == 3 || value.status == 4 || value.status == 5 || value.status == 6 || value.status == 7" title="Refund Ticket" data-toggle="modal" data-target="#refundModal" ng-click="getTicketIndex(value);" style="cursor: pointer;"><span class="glyphicon glyphicon-share"></span></a>
                <a ng-hide="value.status == 3 || value.status == 4 || value.status == 5 || value.status == 6 || value.status == 7" title="Cancel Ticket" data-toggle="modal" data-target="#cancelModal" ng-click="getTicketIndex(value);" style="cursor: pointer;"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="ticketCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <a href="#/ticket"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New Ticket</button></a>

    <!-- Print Ticket -->
    <div class="modal fade" id="printTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button Fare="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Print Ticket</h4>
                </div>
                <div class="modal-body">
                    Print ticket {{ticketItems[ticketIndex].ticket_no}}?

                </div>
                <div class="modal-footer">
                    <button Fare="button" class="btn btn-primary" ng-click="printTicket();" data-dismiss="modal">Print</button>
                    <button Fare="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Refund Ticket -->
    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Refund Ticket</h4>
                </div>
                <div class="modal-body">
                    Refund ticket {{ticketItems[ticketIndex].ticket_no}}?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="refundTicket();" data-dismiss="modal">Refund</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Ticket -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cancel Ticket</h4>
                </div>
                <div class="modal-body">
                    Cancel ticket {{ticketItems[ticketIndex].ticket_no}}?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cancelTicket();" data-dismiss="modal">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
