<div ng-init="updateSeries(); focus();">

    <h3><span class="glyphicon glyphicon-barcode"></span> Tickets and Boarding → Scan Tickets</h3>
    <br />

    <label>Scan your ticket barcode, or enter them manually here: </label>
    <form>
        <p class="input-group">
            <input id="ticketInput" class="form-control" type="text" ng-model="ticket.init" />
            <span class="input-group-btn">
                <button ng-click="scanTicket();" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </p>
    </form>

    <p ng-show="ticket.final && !ticket.result">Ticket {{ticket.final}} not found</p>
    <i ng-show="currentVoyageStatus == 10">Note: Voyage is already <strong>closed</strong> </i>

    <div ng-show="ticket.result && voyageList.length">
        <br />
        <h4>Search Result:</h4>
        <br />

        <table class="table table-response table-bordered table-responsive">
            <tr>
                <th>Ticket No.</th>
                <th>Booking No.</th>
                <th>Series No.</th>
                <th>Passenger</th>
                <th>Voyage</th>
                <th>Seat</th>
                <th>Seating Class</th>
                <th>Price Rate</th>
                <th>Price Paid (Original)</th>
                <th>Price Paid (+Upgrades)</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{ticket.result.ticket_no}}</td>
                <td>{{ticket.result.booking_no}}</td>
                <td>{{ticket.result.series_no}}</td>
                <td>{{ticket.result.passenger}}</td>
                <td>{{ticket.result.voyage}}</td>
                <td>{{ticket.result.seat}}</td>
                <td>{{ticket.result.seating_class}}</td>
                <td>{{ticket.result.passenger_type}}</td>
                <td>{{ticket.result.price_paid}}</td>
                <td>{{totalPricePaid.toFixed(2)}}</td>
                <td>{{ticket.result.status}}</td>
            </tr>
        </table>

        <i ng-show="currentTicket.status_id == 4">Note: Ticket {{currentTicket.ticket_no}} is already boarded. Any modifications for this ticket will therefore be disabled. </i>
        <br />

        <button class="btn btn-success" ng-disabled="ticket.result.status_id != 1 && ticket.result.status_id != 2 && ticket.result.status_id != 3" data-toggle="modal" data-target="#transferSeat"><span class="fa fa-long-arrow-right"></span> Transfer</button>

        <!-- <button class="btn btn-info" ng-disabled="ticket.result.status_id != 1 && ticket.result.status_id != 2 && ticket.result.status_id != 3" data-toggle="modal" data-target="#addBaggage" ng-click="getBaggageIndex(value.id, value.passenger)"><span class="glyphicon glyphicon-briefcase"></span> Add Baggage</button> -->

        <button class="btn btn-primary" ng-disabled="ticket.result.status_id != 1 && ticket.result.status_id != 2" data-toggle="modal" data-target="#checkInTicket"><span class="glyphicon glyphicon-check"></span> Check-In</button>

        <button class="btn btn-primary" ng-disabled="ticket.result.status_id != 1 && ticket.result.status_id != 2 && ticket.result.status_id != 3" data-toggle="modal" data-target="#boardTicket"><span class="fa fa-anchor"></span> Board</button>

    </div>

    <!-- Transfer Seat -->
    <div class="modal fade" id="transferSeat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Transfer Seat</h4>
                </div> 
                <div class="modal-body">
                    
                    <div>
                        <!-- Select voyage & seating class -->
                        <div class="row-fluid">
                            <div class="col-md-4">
                                <label>Voyage</label>
                                <select class="form-control" ng-model="currentVoyage" ng-change="getTicketTemplate(); getSeatingClassList();">
                                    <option ng-repeat="value in voyageList" ng-selected="value.id == currentVoyage" value="{{value.id}}">{{value.number}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Seating Class</label>
                                <select class="form-control" ng-model="currentSeatingClass" ng-change="getSeatTemplate();">
                                    <option ng-repeat="value in seatingClassList" ng-selected="value.id == currentSeatingClass" value="{{value.id}}">{{value.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>New Series No: (For Voyage Transfer)</label>
                                <input ng-disabled="ticket.result.voyage_id == selectedVoyage" ng-model="newSeriesNo" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <br />
                            </div>
                        </div>
                        <!-- Display Seating Status -->
                        <div class="row-fluid">
                            <div class="col-md-5">
                                <label>Current Seat: </label><br />{{displayCurrentSeat()}}
                            </div>
                            <div class="col-md-5">
                                <label>Selected Seat: </label><br />{{displaySelectedSeat()}}
                            </div>
                            <div class="col-md-2">
                                <label>Transfer Cost: </label><br />{{upgradeCost.toFixed(2)}}
                            </div>
                        </div>
                        <!-- Row Breakline -->
                        <div class="row-fluid">
                            <div class="col-md-12">
                                <table class="seat-table seat-table-hover">
                                    <tr ng-repeat="x in seatRow">
                                        <td ng-repeat="y in seatColumn" ng-click="getSelectedSeat(x,y)" title="{{getSeatTitle(x,y)}}" style="{{getSeatColor(x,y)}}">
                                            {{seats[x][y].name}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <center><i>Note: Make sure new selected seat details are correct before proceeding to transfer.</i></center>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="transferSeatAndPrint();" data-dismiss="modal" ng-disabled="ticket.result.seat_id == selectedSeat && ticket.result.voyage_id == selectedVoyage && ticket.result.seating_class_id == selectedSeatingClass">Transfer & Print New Ticket</button>
                    <button type="button" class="btn btn-info" ng-click="transferSeat();" data-dismiss="modal" ng-disabled="ticket.result.seat_id == selectedSeat && ticket.result.voyage_id == selectedVoyage && ticket.result.seating_class_id == selectedSeatingClass">Transfer W/O Print</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Check-In Ticket -->
    <div class="modal fade" id="checkInTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Check-In Ticket</h4>
                </div> 
                <div class="modal-body">
                    Check-In ticket {{ticket.result.ticket_no}}?
                    <!-- <span class="help-block">(This will generate a new boarding pass for the passenger once checked-in)</span> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="checkInTicket();" data-dismiss="modal">Check-In Ticket</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Board Ticket -->
    <div class="modal fade" id="boardTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Board Ticket</h4>
                </div> 
                <div class="modal-body">
                    <!-- Modal when checked-in -->
                    <div ng-show="ticket.result.status_id == 3">
                        Board Ticket {{ticket.result.ticket_no}}?
                    </div>
                    <!-- Hide when checked-in -->
                    <div ng-hide="ticket.result.status_id == 3">
                        <span class="help-block"><strong>WARNING: </strong> Ticket no {{ticket.result.ticket_no}} is still not checked-in!</span>
                        Proceed with boarding ticket {{ticket.result.ticket_no}}?
                    </div>
                </div>
                <div class="modal-footer">
                    <div ng-show="ticket.result.status_id == 3">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="boardTicket();">Board</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    <!-- Hide when checked-in -->
                    <div ng-hide="ticket.result.status_id == 3">
                        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="boardAndPrintTicket();">Board & Print Boarding Pass</button> -->
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="boardTicket();">Board Ticket</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>    
                </div>
            </div>
        </div>
    </div>

    <!-- Add Baggage -->
    <div class="modal fade" id="addBaggage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Baggage</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalBaggage" novalidate role="form">
                        <label>Passenger Name:</label>
                        <input class="form-control" type="text" ng-disabled="true" ng-model="passengerName" />
                        <br />

                        <label>Weight:</label>
                        <select class="form-control" ng-model="newBaggage.weight" ng-change="getBaggagePrice(newBaggage.weight)" required >
                            <option ng-repeat="value in baggageTypeList" value="{{value.id}}">{{value.weight}}</option>
                        </select>
                        <br />

			<label>Series No:</label>
			<input class="form-control" ng-model="newBaggage.series_no" />

                        <label>Price:</label>
                        <input type="text" class="form-control" ng-model="newBaggage.price" ng-disabled="false" required />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addBaggage();" data-dismiss="modal" ng-disabled="(modalBaggage.$dirty && modalBaggage.$invalid) || modalBaggage.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
