<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-credit-card"></span> Passenger Configurations → Passenger Fares</h3>
    <br />
    
    <table class="table table-striped table-responsive">
        <tr>
            <th>Passenger Type</th>
            <th>Route</th>
            <th>Seating Class</th>
            <th>Price</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in passengerFareList">
            <td>{{joinPassengerType(value.type)}}</td>
            <td><a ng-href="#/route">{{joinRoute(value.route)}}</a></td>
            <td><a ng-href="#/seating_class">{{joinSeatingClass(value.class)}}</a></td>
            <td>{{value.price}}</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Passenger Fare" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="passengerFareCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Passenger Fare</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button Fare="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Passenger Fare</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalForm" novalidate role="form">
                        <label>Passenger Type:</label>
                        <select class="form-control" ng-model="newPassengerFare.type" required>
                            <option ng-repeat="value in passengerTypeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Route:</label>
                        <select class="form-control" ng-model="newPassengerFare.route" required>
                            <option ng-repeat="value in routeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Seating Class:</label>
                        <select class="form-control" ng-model="newPassengerFare.class" required>
                            <option ng-repeat="value in seatingClassList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Price:</label>
                        <input Fare="text" class="form-control" ng-model="newPassengerFare.price" required/>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button Fare="button" class="btn btn-primary" ng-click="addPassengerFare(); update();" data-dismiss="modal" ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine">Add</button>
                    <button Fare="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button Fare="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Passenger Class</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Passenger Type:</label>
                        <select class="form-control" ng-model="passengerFareItems[currentIndex].type" required>
                            <option ng-repeat="value in passengerTypeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Route:</label>
                        <select class="form-control" ng-model="passengerFareItems[currentIndex].route" required>
                            <option ng-repeat="value in routeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Seating Class:</label>
                        <select class="form-control" ng-model="passengerFareItems[currentIndex].class" required>
                            <option ng-repeat="value in seatingClassList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Price:</label>
                        <input Fare="text" class="form-control" ng-model="passengerFareItems[currentIndex].price" required/>
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="passengerFareItems[currentIndex].active" required>
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button Fare="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPassengerFare();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button Fare="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

