<div>

    <h3><span class="fa fa-truck"></span> Reports → Cargo Coasting Manifest</h3>
    <br />

    <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
</div>

<div ng-show="cargos_report.length">
    <br />
  <div id="exportable">
    <table class="table table-bordered table-responsive">
      <tr>
        <th colspan="17" align="center">CARGO COASTING MANIFEST</th>
      </tr>
      <tr>
        <th colspan="3">Vessel Name </br>{{vessel.vessel_name}}</th>
        <th colspan="3">GRT </br>{{vessel.gross_register_tonnage}}</th>
        <th>c.NRT </br>{{vessel.net_register_tonnage}}</th>
        <th colspan="2">Voyage No.</br>{{vessel.voyage_number}}</th>
        <th colspan="2">Port of Origin</br>{{port_origin}}</th>
        <th colspan="2">Port of Destination</br>{{port_destination}}</th>
        <th colspan="4">Date of Entry</br>{{selectedDate}}</th>
      </tr>
      <tr>
        <th rowspan="2">Container No./Cargo Marks</th>
        <th colspan="3">Container</th>
        <th colspan="2">Package</th>
        <th rowspan="2">Contents</th>
        <th colspan="2">(To be filled up by PPA)</th>
        <th rowspan="2">Volume</th>
        <th rowspan="2">Weight (kg)</th>
        <th rowspan="2">Value (Php)</th>
        <th rowspan="2">Shipper</th>
        <th rowspan="2">Consignee</th>
        <th colspan="3">Freight Charges</th>
      </tr>
      <tr>
        <th>Container Size</th>
        <th>Service</th>
        <th>Seal No.</th>
        <th>No.</th>
        <th>Kind</th>
        <th>Type of Handling Code</th>
        <th>Commodity Code</th>
        <th>Prepaid at Origin</th>
        <th>Accounts Receivable at Origin</th>
        <th>Payable at Destination</th>
      </tr>
      <tr ng-repeat="value in cargos_report" ng-init="total_weight=0;">
        <td>{{value.container_no}}</td>
        <td>{{value.length}}</td>
        <td>{{value.article_desc}}</td>
        <td>{{value.container_seal_no}}</td>
        <td>{{value.package_no}}</td>
        <td>{{value.package_kind}}</td>
        <td>{{value.contents}}</td>
        <td>{{value.handling_code}}</td>
        <td>{{value.commodity_code}}</td>
        <td>{{value.volume}}</td>
        <td>{{value.weight}}</td>
        <td>{{value.amount_value}}</td>
        <td>{{value.shipper}}</td>
        <td>{{value.consignee}}</td>
        <td>{{value.prepaid_origin}}</td>
        <td>{{value.account_receivable_origin}}</td>
        <td>{{value.payable_destination}}</td>
      </tr>
      <tr>
        <th colspan="10">Total Units: {{cargos_report.length}}</th>
        <th colspan="7">Total Weight: {{total_weight}} tons</th>
      </tr>
    </table>
  </div>

    <!-- Display Author -->
    <p><strong>Generated By:</strong> {{fullname}}</p>
    <br />

    <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
</div>
