<div>

	<h3><span class="fa fa-credit-card"></span> Reports → Complimentary Tickets</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect(value.number, value.vessel, value.trip);" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="complimentary_tickets.voyage">
    	<br />
    	<p ng-hide="waybills.table.length">No Results Found</p>

    	<div ng-show="waybills.table.length" id="exportable">
	    	<p><strong>Archipelago Philippines Ferries Corporation</strong></p>
	    	<p>Summary of Issued Complimentary Tickets</p>

	    	<table class="table table-responsive">
	    		<tr>
	    			<th>Date: </th>
	    			<td>{{selectedDate}}</td>
	    		</tr>
	    		<tr>
	    			<th>Vessel Name: </th>
	    			<td>{{joinVessel(vessel_id)}}</td>
	    		</tr>
	    		<tr>
	    			<th>Port of Origin: </th>
	    			<td>{{joinPortByTrip(trip_id)}}</td>
	    		</tr>
	    		<tr>
	    			<th>Voyage No: </th>
	    			<td>{{voyage_number}}</td>
	    		</tr>
	    	</table>

	    	<table class="table table-bordered table-striped table-responsive">
	    		<tr>
	    			<th>No.</th>
	    			<th>Complimentary Tickets</th>
	    			<th>No. of Issued Tickets</th>
	    			<th>Issued To</th>
	    		</tr>
	    		<tr ng-repeat="(key, value) in waybills.table">
	    			<td>{{key+1}}</td>
	    			<td>{{value.lading_no}}</td>
	    			<td>1</td>
	    			<td>{{joinShipper(value.shipper)}} {{value.plate_num}}</td>   		
		    	</tr>
		    	<tr>
		    		<th colspan="2">Total Complimentary Tickets Issued: </th>
		    		<th>{{waybills.table.length}}</th>
		    	</tr>
	    	</table> 	

            <!-- Display Author -->
            <p><strong>Generated By:</strong> {{fullname}}</p>
            <br />

            <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
	    </div>
   	</div>
</div>
