<div>

    <h3><span class="fa fa-ruble"></span> Reports → Daily Revenue</h3>
    <br>

    <div>
        <div class="row-fluid">
            <div class="col-md-6">
                <label>Start Date:</label>
                <div class="input-group date">
                    <input type="text" class="form-control" ng-click="open($event, 'start_date')" datepicker-popup="" ng-model="input.start_date" ng-init="getToday('start_date'); onDateChange('start_date');" ng-change="onDateChange('start_date');" is-open="open.start_date" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="open($event, 'start_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <label>End Date:</label>
                <div class="input-group date">
                    <input type="text" class="form-control" ng-click="open($event, 'end_date')" datepicker-popup="" ng-model="input.end_date" ng-init="getToday('end_date'); onDateChange('end_date');" ng-change="onDateChange('end_date');" is-open="open.end_date" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="open($event, 'end_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <br />
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6">
                <label>Select Vessel:</label>
                <select class="form-control" ng-model="input.vessel">
                    <option ng-repeat="value in vesselAll" value="{{value.id}}">{{value.name}}</option>
                </select>
                <br />
            </div>
            <div class="col-md-6">
                <label>Select Route:</label>
                <select class="form-control" ng-model="input.route">
                    <option ng-repeat="value in routeAll" value="{{value.id}}">{{value.name}}</option>
                </select>
                <br />
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <button ng-disabled="!(input.start_date && input.end_date && input.vessel && input.route)" class="btn btn-primary" ng-click="getDailyRevenue();"><span class="glyphicon glyphicon-list"></span> Generate Report</button>
        </div>
    </div>

    <div ng-show="dailyRevenue" id="exportable">
        <center>
            <h3>ARCHIPELAGO PHILIPPINE FERRIES CORPORATION</h3>
            Unit 5B, 5th Floor, UNIOIL Center Bldg., <br />
            Commerce Ave., Madrigal Business Park, <br />
            Ayala Alabang, Muntinlupa City <br />

            <h3>Daily Revenue Report</h3>
            <br />

        </center>
        <table class="table table-responsive table-bordered" >
            <tr>
                <th colspan="2">Revenue</th>
                <th ng-repeat="value in dailyRevenue.voyage">
                    {{value.number}} <br />
                    {{value.departure_date}} @ {{value.departure_time}}<br />
                    {{value.route_name}}
                </th>
                <th>Total</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr ng-repeat="(key, value) in dailyRevenue.revenue_ticket">
                <td>{{key}}</td>
                <td style="margin: 0px; padding: 0px;">
                    <table class="table" style="margin-bottom: 0px !important;">
                        <tr ng-repeat="(k,v) in dailyRevenue.passenger_type | orderBy:'name'">
                            <td>{{v.name}}</td>
                        </tr>
                    </table>
                </td>
                <td style="margin: 0px; padding: 0px;" ng-repeat="(k,v) in value">
                    <table class="table" style="margin-bottom: 0px !important;">
                        <tr ng-repeat="(kk,vv) in v">
                            <td>{{vv.toFixed(2)}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">Upgrade</td>
                <td ng-repeat="(key, value) in dailyRevenue.revenue_upgrade">
                    {{value.toFixed(2)}}
                </td>
            </tr>
            <tr>
                <td colspan="2">Baggage</td>
                <td ng-repeat="(key, value) in dailyRevenue.revenue_baggage">
                    {{value.toFixed(2)}}
                </td>
            </tr>
            <tr>
                <td colspan="2">Vehicle Fares</td>
                <td ng-repeat="(key, value) in dailyRevenue.revenue_waybill">
                    {{value.toFixed(2)}}
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr>
                <th colspan="2">LESS: VEHICLE DISCOUNTS</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">Vehicle Discounts</td>
                <td ng-repeat="(key, value) in dailyRevenue.discount_waybill">
                    {{value.toFixed(2)}}
                </td>
            </tr>
            <tr>
                <th colspan="2">TOTAL REVENUE (LESS VEHICLE DISCOUNT)</th>
                <td ng-repeat="value in dailyRevenue.revenue_voyage_no_pax_discount">
                    {{value.toFixed(2)}}
                </td>
                <th>{{(dailyRevenue.total_revenue_no_deductions).toFixed(2)}}</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr>
                <th colspan="2">LESS: PASSENGER FARE DISCOUNTS</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td></td>
            </tr>
            <tr ng-repeat="(key, value) in dailyRevenue.discount_passenger">
                <td colspan="2">{{key}}</td>
                <td ng-repeat="(k,v) in value">
                    {{v.toFixed(2)}}
                </td>
            </tr>

            <tr>
                <th colspan="2">TOTAL REVENUE (LESS DISCOUNT)</th>
                <td ng-repeat="(key, value) in dailyRevenue.revenue_voyage">
                    {{value.toFixed(2)}}
                </td>
                <th>{{dailyRevenue.total_revenue.toFixed(2)}}</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr>
                <th colspan="2">LESS: RECEIVABLES</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td></td>
            </tr>
            <tr ng-repeat="value in dailyRevenue.on_account_waybills">
                <td colspan="2">{{value.plate_num}}</td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td>{{value.price_paid}}</td>
            </tr>
            <tr>
                <th colspan="2">NET CASH COLLECTION</th>
                <td ng-repeat="(key, value) in dailyRevenue.revenue_voyage">
                    {{value.toFixed(2)}}
                </td>
                <th>{{dailyRevenue.total_rev_minus_waybills.toFixed(2)}}</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr ng-repeat="(key, value) in dailyRevenue.users" ng-show="value.revenue">
                <td>{{key+1}}</td>
                <td>{{value.employee_no}} - {{value.first_name}} {{value.last_name}} - {{value.role}}</td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td>{{value.revenue.toFixed(2)}}</td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <th>{{dailyRevenue.total_users_revenue.toFixed(2)}}</th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr>
                <th colspan="2">ADD: Cash Beginning</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr ng-repeat="(key, value) in dailyRevenue.cash_on_hand">
                <td colspan="2"> • {{value.name}}</td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td>{{(value.amt*1).toFixed(2)}}</td>
            </tr>
            <tr>
                <th colspan="2">Total Cash on Hand</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <th>{{dailyRevenue.cash_on_hand_total.toFixed(2)}}</th>
            </tr>
            <tr>
                <th colspan="2">LESS: Disbursments</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
            </tr>
            <tr ng-repeat="(key, value) in dailyRevenue.deductions">
                <td colspan="2"> • {{value.name}}</td>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <td>{{(value.amt*1).toFixed(2)}}</td>
            </tr>
            <tr>
                <th colspan="2">ENDING CASH BALANCE</th>
                <td ng-repeat="value in dailyRevenue.voyage"></td>
                <th>{{dailyRevenue.deductions_total.toFixed(2)}}</th>
            </tr>
        </table>

        <!-- Display Author -->
        <p><strong>Generated By:</strong> {{fullname}}</p>
        <br />
        
    </div>

    <div ng-show="dailyRevenue">
        <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
    </div>

</div>