<div>

    <h3><span class="fa fa-ticket"></span> Reports → Tellers Report</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect(value.trip); getDepartureTime(joinTrip(value.trip));" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <!-- Report -->
    <div ng-show="inclusive_tickets.voyage">

        <p ng-hide="inclusive_ticket_report.table.length">No Results Found</p>
        <div ng-show="inclusive_ticket_report.table.length" id="exportable">

            <p><strong>Date:</strong> {{selectedDate}}</p>
            <p><strong>Departure Time:</strong> {{departure_time}}</p>
            <p><strong>Route:</strong> {{getVoyageRoute();}}</p>

            <center><h4>{{joinVoyage(inclusive_tickets.voyage);}}</h4></center>
            <br />
            <table class="table table-striped table-responsive | orderBy:ticket_start">
                <tr>
                    <th colspan='2'>Kind of Receipt</th>
                    <th colspan='3'><center>INCLUSIVE TICKETS AND WAYBILL NO</center></th>
                    <th>Number Used</th>
                    <th>Fare</th>
                    <th>Total Amount</th>
                </tr>
                <tr ng-repeat="value in inclusive_ticket_report.table">
                    <td>{{value.seating_class}}</td>
                    <td>{{value.passenger_type}}</td>
                    <td>{{value.ticket_start}}</td>
                    <td>-0</td>
                    <td>{{value.ticket_end}}</td>
                    <td>{{value.no_of_items}}</td>
                    <td>{{value.fare}}</td>
                    <td>{{value.total_fare.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th colspan='7'>Total Per Voyage: (Without Discount)</th>
                    <th>{{inclusive_ticket_report.total_fare.toFixed(2)}}</th>
                </tr>
                <tr>
                    <th colspan='7'>LESS: Passenger Fare Discount</th>
                    <th></th>
                </tr>
                <tr ng-repeat="value in inclusive_ticket_report.table" ng-show="value.differential">
                    <td>{{value.seating_class}}</td>
                    <td>{{value.passenger_type}}</td>
                    <td>{{value.ticket_start}}</td>
                    <td>-0</td>
                    <td>{{value.ticket_end}}</td>
                    <td>{{value.no_of_items}}</td>
                    <td>{{value.differential}}</td>
                    <td>{{value.total_differential.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th colspan='7'>Total Per Voyage: (Minus Discount)</th>
                    <th>{{inclusive_ticket_report.total_fare_w_diff.toFixed(2)}}</th>
                </tr>
            </table>

            <!-- Display Author -->
            <p><strong>Generated By:</strong> {{fullname}}</p>
            <br />

            <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
        </div>
    </div>
</div>
