<div>

    <h3><span class="glyphicon glyphicon-search"></span> Reports → Inspection Report</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <!-- Report -->
    <div ng-show="waybill.voyage">
    	
        <br />
        <p ng-hide="waybill_report.length">No Results Found</p>

        <div ng-show="waybill_report.length">
            <div id="exportable">
                <div class="report-header">
        			<h4>Archipelago Philippine Ferries Corporation</h4>
        			Unit 5B, 5th Floor, UNIOIL Center Bldg.,<br/>
        			Commerce Avenue, Madrigal Business Park,<br/>
        			Ayala Alabang, Muntilupa City
        		</div>
            	<div class="report-title">
        			<h4>Vehicles/Cargo</h4>
        		</div>
                <table class="table table-striped table-responsive">
                    <tr>
                        <th>Waybill</th>
                        <th>Shipper</th>
			<th>Series No</th>
                        <th>Description</th>
                        <th>Class</th>
                        <th>Plate No.</th>
                        <th>Freight</th>
                        <th>Credit(Y/N)</th>
                    </tr>
                    <tr ng-repeat="value in waybill_report">
                        <td>{{value.lading_no}}</td>
                        <td>{{joinShipper(value.shipper)}}</td>
			<td>{{value.series_no}}</td>
                        <td>{{value.article_desc}}</td>
                        <td>{{value.class}}</td>
                        <td>{{value.plate_num}}</td>
                        <td>{{value.price_paid}}</td>
                        <td ng-show="value.on_account">Yes</td>
                        <td ng-hide="value.on_account">No</td>
                    </tr>
                </table>

                <!-- Display Author -->
                <p><strong>Generated By:</strong> {{fullname}}</p>
                <br />

                <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
            </div>
        </div>
    </div>
</div>
