<div>

    <h3><span class="fa fa-group"></span> Reports → Passenger Manifest</h3>
    <br />
    
    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <!-- Report -->
    <div ng-show="passengers.voyage">
        <br />
        <p ng-hide="passengers_report.length">No Results Found</p>
        
        <div ng-show="passengers_report.length">
            <div id="exportable">
                <div> 
        		  <div class="report-header"><label>Republic of the Philippines</label></div>
    			  <div class="report-header"><label>Department of Finance</label></div>
    			  <div class="report-header"><label>Bureau of Customs</label></div>
    		    </div>
    		    <div class="report-title">
    			  <h4>Passengers Coasing Manifest</h4>
    		    </div>
    		    <div class="report-title">
    			     Complete list of all passengers taken on board the <u>{{vessel_name}}</u> sailing from the port <u>{{departure}}</u> on the <u>{{day}}</u> day of <u>{{month}}</u>, <u>{{year}}</u> for the port of <u>{{destination}}</u>.
    		    </div>

           
            	<table class="table table-striped table-responsive">
                	<tr>
                    	<th>Name of Passengers</th>
                    	<th>Sex</th>
                    	<th>Age</th>
                    	<th>Civil Status</th>
                    	<th>Nationality</th>
                    	<th>Home Address</th>
                    	<th>Contact Number</th>
                	</tr>
                	<tr ng-repeat="value in passengers_report">
                    	<td>{{$index + 1}}&nbsp;&nbsp;{{value.passenger_name}}</td>
                    	<td>{{value.gender}}</td>
                    	<td>{{value.age}}</td>
                    	<td>{{value.civil_status}}</td>
                    	<td>{{value.nationality}}</td>
                    	<td>{{value.address}}</td>
                    	<td>{{valuee.contact}}</td>
                	</tr>
                	<tr>
                		<th colspan="7">Total Passengers: {{passengers_report.length}}</th>
                	</tr>
            	</table>
            </div>

            <!-- Display Author -->
            <p><strong>Generated By:</strong> {{fullname}}</p>
            <br />

            <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
        </div>
    </div>
</div>
