<div>

	<h3><span class="glyphicon glyphicon-th-list"></span> Reports → Pursers Report</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="tellers.voyage">
    	<br />
    	<p ng-hide="waybills.table.length">No Results Found</p>

    	<div ng-show="waybills.table.length" id="exportable">

            <center>
            <h4>ARCHIPELAGO PHILIPPINE FERRIES CORPORATION</h4>
            <h6>5D Unioil Center Bldg., Acacia Avenue</h6>
            <h6>Madrigal Business Park, Ayala Alabang, Muntinlupa City</h6>
            <h6>Tel. No.: (02) 842-9341 - Fax No: 775-0442</h6>
            <br />

            <h4>BILL OF LADING</h4>
            </center>

	    	<table class="table table-responsive table-striped">
	    		<tr>
	    			<th>Kind of Receipt</th>
                    <th>Series No</th>
	    			<th colspan="3">Inclusive Tickets & Waybill Number</th>
				    <th>Number Used</th>
	    			<th>Total Amount</th>
		    	</tr>
		    	<tr ng-repeat="value in waybills.table | orderBy:'series_no'">
		    		<td>{{value.lading_no}}</td>
                    <td>{{value.series_no}}</td>
		    		<td>{{joinShipper(value.shipper)}}</td>
				    <td>{{value.plate_num}}</td>
                    <td>{{value.cargo_name}}</td>
		    		<td>1</td>
		    		<td>{{value.price_paid}}</td>
		    	</tr>
		    	<tr>
		    		<th colspan="5">Total Accountability</th>
		    		<td>{{waybills.table.length}}</td>
		    		<th>{{waybills.total_fare.toFixed(2)}}</th>
		    	</tr>
                <tr>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <th colspan="7">LESS: Waybill Fare Discount</th>
                </tr>
                <tr ng-repeat="value in waybills.table | orderBy:'series_no'" ng-show="value.differential">
                    <td>{{value.lading_no}}</td>
                    <td>{{value.series_no}}</td>
                    <td>{{joinShipper(value.shipper)}}</td>
                    <td>{{value.plate_num}}</td>
                    <td>{{value.cargo_name}}</td>
                    <td>1</td>
                    <td>{{value.differential.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th colspan="6">Total Accountability (Less Differential)</th>
                    <th>{{waybills.total_fare_less_differential.toFixed(2)}}</th>
                </tr>
                <tr>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <th colspan="7">LESS: Collectible Waybills</th>
                </tr>
                <tr ng-repeat="value in onAccountWaybills">
                    <td colspan="6">{{value.plate_num}}</td>
                    <td ng-init="getOnAccountTotal(value.price_paid)">{{value.discounted_price}}</td>
                </tr>
                <tr>
                    <th colspan="6">Total Accountability (Less Collectibles)</th>
                    <th>{{(waybills.total_fare_less_collectibles).toFixed(2)}}</th>
                </tr>
                <tr>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <th colspan="6">Net Cash to be Remitted</th>
                    <th>{{(waybills.total_fare_less_collectibles).toFixed(2)}}</th>
                </tr>
	    	</table>

            <!-- Display Author -->
            <p><strong>Generated By:</strong> {{fullname}}</p>
            <br />

	    	<button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>

	    </div>
    </div>
</div>
