<div>

    <h3><span class="fa fa-newspaper-o"></span> Reports → Daily Monitoring</h3>
    <br>

    <div>
        <div class="row-fluid">
            <div class="col-md-6">
                <label>Start Date:</label>
                <div class="input-group date">
                    <input type="text" class="form-control" ng-click="open($event, 'start_date')" datepicker-popup="" ng-model="input.start_date" ng-init="getToday('start_date'); onDateChange('start_date');" ng-change="onDateChange('start_date');" is-open="open.start_date" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="open($event, 'start_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <label>End Date:</label>
                <div class="input-group date">
                    <input type="text" class="form-control" ng-click="open($event, 'end_date')" datepicker-popup="" ng-model="input.end_date" ng-init="getToday('end_date'); onDateChange('end_date');" ng-change="onDateChange('end_date');" is-open="open.end_date" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="open($event, 'end_date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <br />
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-6">
            <label>Select Vessel:</label>
            <select class="form-control" ng-model="input.vessel">
                <option ng-repeat="value in vesselAll" value="{{value.id}}">{{value.name}}</option>
            </select>
            <br />
        </div>
        <div class="col-md-6">
            <label>Select Route:</label>
            <select class="form-control" ng-model="input.route">
                <option ng-repeat="value in routeAll" value="{{value.id}}">{{value.name}}</option>
            </select>
            <br />
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <button ng-disabled="!(input.start_date && input.end_date && input.vessel && input.route)" class="btn btn-primary" ng-click="getDailyMonitoring();"><span class="glyphicon glyphicon-list"></span> Generate Report</button>
        </div>
    </div>

    <!-- Report Output -->
    <div ng-show="dailyMonitoring">

        <div class="row-fluid">

            <!-- Begin report generation here -->
            <div class="col-md-12">
                <div id="exportable">
                <h4>Relevant dates from {{input.start_date}} till {{input.end_date}}</h4>

                <table>
                    <tr>
                        <td ng-repeat="(key, value) in dailyMonitoring.date" style="margin: 0px; padding: 0px;">
                            <table class="table table-bordered" style="margin-bottom: 0px !important;">
                                <!-- Departure Date -->
                                <tr>
                                    <th>Date</th>
                                    <th colspan="{{value.voyage_array.length + 1}}">{{key}}</th>
                                </tr>
                                <!-- Voyage Number -->
                                <tr>
                                    <th>Trip No.</th>
                                    <td ng-repeat="(k,v) in value.voyage_array">{{v.number}}</td>
                                    <th>Total</th>
                                </tr>
                                <!-- Departure Time -->
                                <tr>
                                    <th>Trip Schedule/Time</th>
                                    <td ng-repeat="(k,v) in value.voyage_array">{{v.departure_time}}</td>
                                    <th></th>
                                </tr>
                                <!-- No of trips (Display fixed to 1) -->
                                <tr>
                                    <th>No. of Trips</th>
                                    <td ng-repeat="(k,v) in value.voyage_array">1</td>
                                    <th>{{value.voyage_array.length}}</th>
                                </tr>
                                <!-- Total Revenue -->
                                <tr>
                                    <th>Total Revenue</th>
                                    <td ng-repeat="(k,v) in value.revenue_voyage">{{v.toFixed(2)}}</td>
                                    <th>{{value.revenue_date.toFixed(2)}}</th>
                                </tr>
                                <!-- Average Revenue per Trip -->
                                <tr>
                                    <th>Ave. Revenue Per Trip</th>
                                    <td ng-repeat="(k,v) in value.revenue_voyage">{{v.toFixed(2)}}</td>
                                    <th>{{(value.revenue_date/value.voyage_array.length).toFixed(2)}}</th>
                                </tr>
                                <!-- PAX Count -->
                                <tr>
                                    <th>PAX Count</th>
                                    <td ng-repeat="(k,v) in value.pax_count" style="margin: 0px; padding: 0px;">
                                        <table class="table table-bordered" style="margin-bottom: 0px !important;">
                                            <tr ng-repeat="(kk, vv) in v">
                                                <th>{{kk}}</th>
                                                <td style="margin: 0px; padding: 0px;">
                                                    <table class="table" style="margin-bottom: 0px !important;">
                                                        <tr ng-repeat="(kkk,vvv) in vv">
                                                            <td>{{kkk}}</td>
                                                            <td>{{vvv}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- Total PAX -->
                                <tr>
                                    <th>Total PAX</th>
                                    <td ng-repeat="(k,v) in value.pax_count_voyage">{{v}}</td>
                                    <th>{{value.pax_count_date}}</th>
                                </tr>
                                <!-- Revenue on PAX -->
                                <tr>
                                    <th>Revenue on PAX</th>
                                    <td ng-repeat="(k,v) in value.revenue_cat">{{v.ticket.toFixed(2)}}</td>
                                    <th>{{(value.revenue_cat_total.ticket).toFixed(2)}}</th>
                                </tr>
                                <!-- PAX Average -->
                                <tr>
                                    <th>Ave. PAX Fare</th>
                                    <td ng-repeat="(k,v) in value.revenue_cat">{{(v.ticket/value.pax_count_voyage[k]).toFixed(2)}}</td>
                                    <th>{{(value.revenue_cat_total.ticket/value.pax_count_date).toFixed(2)}}</th>
                                </tr>
                                <!-- Vehicle Count -->
                                <tr>
                                    <th>Vehicle Count</th>
                                    <td ng-repeat="(k,v) in value.waybill_count" style="margin: 0px; padding: 0px;">
                                        <table class="table table-bordered" style="margin-bottom: 0px !important;">
                                            <tr ng-repeat="(kk,vv) in v">
                                                <td>{{kk}}</td>
                                                <td>{{vv}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <!-- Vehicle Count -->
                                <tr>
                                    <th>Vehicle Count</th>
                                    <td ng-repeat="(k,v) in value.waybill_count_voyage">{{v}}</td>
                                    <th>{{value.waybill_count_date}}</th>
                                </tr>
                                <!-- Revenue on Vehicle -->
                                <tr>
                                    <th>Revenue on Vehicle</th>
                                    <td ng-repeat="(k,v) in value.revenue_cat">{{v.waybill.toFixed(2)}}</td>
                                    <th>{{(value.revenue_cat_total.waybill).toFixed(2)}}</th>
                                </tr>
                                <!-- Vehicle Average -->
                                <tr>
                                    <th>Ave. Vehicle Fare</th>
                                    <td ng-repeat="(k,v) in value.revenue_cat">
                                        {{(v.waybill/value.waybill_count_voyage[k]).toFixed(2)}}
                                    </td>
                                    <th>{{(value.revenue_cat_total.waybill/value.waybill_count_date).toFixed(2)}}</th>
                                </tr>
                                <!-- Baggage Revenue -->
                                <tr>
                                    <th>Baggage Revenue</th>
                                    <td ng-repeat="(k,v) in value.revenue_cat">{{v.baggage.toFixed(2)}}</td>
                                    <th>{{(value.revenue_cat_total.baggage).toFixed(2)}}</th>
                                </tr>
                                <!-- Upgrades Revenue -->
                                <tr>
                                    <th>Upgrade Revenue</th>
                                    <td ng-repeat="(k,v) in value.revenue_cat">{{v.upgrades.toFixed(2)}}</td>
                                    <th>{{(value.revenue_cat_total.upgrades).toFixed(2)}}</th>
                                </tr>
                                <!-- Capacity -->
                                <tr>
                                    <th>Capacity</th>
                                    <td ng-repeat="(k,v) in value.voyage"></td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="(k,v) in value.capacity">
                                    <td>{{k}}</td>
                                    <td ng-repeat="(kk,vv) in v">{{vv}}</td>
                                    <th>{{value.capacity_average[k].toFixed(2)}}</th>
                                </tr>
                                <!-- Total Capacity -->
                                <tr>
                                    <td>Total</td>
                                    <th ng-repeat="(k,v) in value.voyage">{{v.capacity}}</th>
                                    <th>{{value.capacity_total_average.toFixed(2)}}</th>
                                </tr>
                                <!-- Actual PAX -->
                                <tr>
                                    <th>Actual PAX Count</th>
                                    <td ng-repeat="(k,v) in value.voyage"></td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="(k,v) in value.pax_count_code">
                                    <td>{{k}}</td>
                                    <td ng-repeat="(kk,vv) in v">{{vv}}</td>
                                    <th>{{value.pax_count_code_average[k].toFixed(2)}}</th>
                                </tr>
                                <!-- Load Factor -->
                                <tr>
                                    <th>Load Factor</th>
                                    <td ng-repeat="(k,v) in value.voyage"></td>
                                    <td></td>
                                </tr>
                                <tr ng-repeat="(k,v) in value.load_factor">
                                    <td>{{k}}</td>
                                    <td ng-repeat="(kk,vv) in v">{{vv.toFixed(2)}}%</td>
                                    <th>{{value.load_factor_total[k].toFixed(2)}}%</th>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
                <br />

                <!-- <h4>Traffic Summary:</h4>
                <table class="table">
                    <tr>
                        <th>Revenue Total</th>
                        <td>{{dailyMonitoring.revenue_total.toFixed(2)}}</td>
                    </tr>
                    <tr ng-repeat="(key, value) in dailyMonitoring.revenue_cat_total">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    <tr>
                        <th>PAX Total Count</th>
                        <td>{{dailyMonitoring.pax_count_total}}</td>
                    </tr>
                    <tr>
                        <th>Vehicle Total Count</th>
                        <td>{{dailyMonitoring.waybill_count_total}}</td>
                    </tr>
                </table> -->

                <h4>Traffic Summary:</h4>
                <ul style="font-size: 14px;">
                    <li style="margin-top: 5px; margin-bottom: 5px;"> <strong>Revenue Total:</strong> {{dailyMonitoring.revenue_total.toFixed(2)}}</li>
                    <li style="margin-top: 5px; margin-bottom: 5px;">
                        <ul>
                            <li ng-repeat="(key, value) in dailyMonitoring.revenue_cat_total" style="margin-top: 5px; margin-bottom: 5px;">{{key}}: {{value.toFixed(2)}}</li>
                        </ul>
                    </li>
                    <li style="margin-top: 5px; margin-bottom: 5px;"> <strong>PAX Total:</strong> {{dailyMonitoring.pax_count_total}}</li>
                    <li style="margin-top: 5px; margin-bottom: 5px;"> <strong>Vehicle Count Total:</strong> {{dailyMonitoring.waybill_count_total}}</li>
                </ul>
                <br />

                <!-- Display Author -->
                <p><strong>Generated By:</strong> {{fullname}}</p>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="dailyMonitoring">
        <div class="row-fluid">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" ng-click="exportData()"><span class="glyphicon glyphicon-th-list"></span> Export to Excel</button>
            </div>
        </div>
    </div>

</div>