<div ng-init="update()">
    
    <h3><span class="glyphicon glyphicon-briefcase"></span> Miscellaneous → Baggage Lists</h3>
    <br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Voyage</th>
            <th>Price Paid</th>
            <th>Baggage Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="(key, value) in baggageList">
            <td>{{value.voyage}}</td>
            <td>{{value.price_paid}}</td>
            <td>{{value.baggage_type}}</td>
            <td>{{value.status}}</td>
            <td>
                <a ng-hide="value.status_id == 6 || value.status_id == 7" title="Refund Baggage" data-toggle="modal" data-target="#refundModal" ng-click="getBaggageIndex(value.id);" style="cursor: pointer;"><span class="glyphicon glyphicon-share"></span></a>
                <a ng-hide="value.status_id == 6 || value.status_id == 7" title="Cancel Baggage" data-toggle="modal" data-target="#cancelModal" ng-click="getBaggageIndex(value.id);" style="cursor: pointer;"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="baggageCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <!-- Refund Baggage -->
    <div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Refund Baggage</h4>
                </div>
                <div class="modal-body">
                    Refund baggage?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="refundBaggage();" data-dismiss="modal">Refund</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cancel Baggage -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cancel Baggage</h4>
                </div>
                <div class="modal-body">
                    Cancel baggage?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="cancelBaggage();" data-dismiss="modal">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

