<div>

    <h3><span class="glyphicon glyphicon-briefcase"></span> Cargoes and Waybills → Add Baggage</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect(value.trip);" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="baggage.voyage">
        <div class="row-fluid">
            <ng-form name="modalForm" novalidate role="form">
            <div class="col-md-6">
                <label>Series No:</label>
                <input type="text" class="form-control" ng-model="newBaggage.series_no" required />
            </div>

            <div class="col-md-6">
                <label>Amount:</label>
                <input type="text" class="form-control" ng-model="newBaggage.price_paid" required />
            </div>
            </ng-form>
        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <br />
            </div>
        </div>

        <div class="row-fluid">
            <div class="col-md-12">
                <button ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBaggage" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add Baggage</button>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="addBaggage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Baggage</h4>
                </div> 
                <div class="modal-body">
                    Add new baggage?
                    <!-- <span class="help-block">(This will generate a new boarding pass for the passenger once checked-in)</span> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addBaggage();" data-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>