<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-list-alt"></span> Cargo and Baggage Configurations → Cargo Rates</h3>
    <br />

    <table class="table table-striped table-responsive">
        <tr>
            <th>Route</th>
            <th>Cargo Class</th>
            <th>Regular Rate</th>
            <th>Discounted Rate</th>
            <th>Discount %</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-animate="'animate'" ng-repeat="value in cargoRateList">
            <td><a ng-href="#/route">{{joinRoute(value.route)}}</a></td>
            <td><a ng-href="#/cargo_class">{{joinCargoClass(value.class)}}</a></td>
            <td>{{value.regular_rate}}</td>
            <td>{{value.discounted_rate}}</td>
            <td>{{value.discount}}%</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Cargo Rate" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="cargoRateCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Cargo Rate</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Cargo Rate</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalForm" novalidate role="form">
                        <label>Route:</label>
                        <select class="form-control" ng-model="newCargo.route" required>
                            <option ng-repeat="value in routeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Cargo Class:</label>
                        <select class="form-control" ng-model="newCargo.class" required>
                            <option ng-repeat="value in cargoClassList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Rate:</label>
                        <input type="text" class="form-control" ng-model="newCargo.regular_rate" required/>
                        <br />

                        <label>Discount %:</label>
                        <input type="text" class="form-control" ng-model="newCargo.discount" />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addCargoRate(); update();" data-dismiss="modal" ng-disabled="(modalForm.$dirty && modalForm.$invalid) || modalForm.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Cargo Rate</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Route:</label>
                        <select class="form-control" ng-model="cargoRateItems[currentIndex].route" required>
                            <option ng-repeat="value in routeList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Cargo Class:</label>
                        <select class="form-control" ng-model="cargoRateItems[currentIndex].class" required>
                            <option ng-repeat="value in cargoClassList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Rate:</label>
                        <input type="text" class="form-control" ng-model="cargoRateItems[currentIndex].regular_rate" required/>
                        <br />

                        <label>Discount %:</label>
                        <input type="text" class="form-control" ng-model="cargoRateItems[currentIndex].discount" />
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="cargoRateItems[currentIndex].active">
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editCargoRate();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

