<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-star"></span> Seating Configurations → Seating Classes</h3>
    <br />
    <table class="table table-striped table-responsive">
        <tr>
            <th>Seating Class</th>
            <th>Code</th>
            <th>Description</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in seatClassList">
            <td>{{value.name}}</td>
            <td>{{value.code}}</td>
            <td>{{value.description}}</td>
            <td>{{value.rows}}</td>
            <td>{{value.cols}}</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Seating Classes" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="seatClassCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Seat Class</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Seating Class</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Seating Class:</label>
                        <input type="text" class="form-control" ng-model="newSeat.name" required />
                        <br />

                        <label>Code:</label>
                        <input type="text" class="form-control" ng-model="newSeat.code" required />
                        <br />

                        <label>Number of Rows:</label>
                        <input type="text" class="form-control" ng-model="newSeat.rows" required />
                        <br />

                        <label>Number of Columns:</label>
                        <input type="text" class="form-control" ng-model="newSeat.cols" required />
                        <br />

                        <label>Description:</label>
                        <textarea class="form-control" ng-model="newSeat.description"></textarea>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addSeatingClass(); update();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Seating Class</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Seating Class:</label>
                        <input type="text" class="form-control" ng-model="seatClassItems[currentIndex].name" required />
                        <br />

                        <label>Code:</label>
                        <input type="text" class="form-control" ng-model="seatClassItems[currentIndex].code" required />
                        <br />

                        <label>Number of Rows:</label>
                        <input type="text" class="form-control" ng-model="seatClassItems[currentIndex].rows" required />
                        <br />

                        <label>Number of Columns:</label>
                        <input type="text" class="form-control" ng-model="seatClassItems[currentIndex].cols" required />
                        <br />

                        <label>Description:</label>
                        <textarea class="form-control" ng-model="seatClassItems[currentIndex].description"></textarea>
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="seatClassItems[currentIndex].active">
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editSeatingClass();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>