<div>

    <h3><span class="glyphicon glyphicon-tag"></span> Seating Configurations → Create Seats</h3>
    <br />
    
    <label>Select Seating Class:</label> <a ng-href="#/seating_class/index">(Click here to add/edit)</a>
    <select class="form-control" ng-model="seatingClass" ng-change="getSeatList(); getTableDimensions(seatingClass); getSeatingTable();">
        <option ng-repeat="value in seatingClassList" value={{value.id}}>
            {{value.name}}
        </option>
    </select>

    <br />

    <div ng-hide="true">
        <!-- ng-show="seatingClass" -->
        <p>Edit Dimensions: </p>
        <label>Row:</label> 
        <input type="text" class="form-control" ng-model="rows" ng-change="getSeatingTable()" />
        <br />
        <label>Column:</label>
        <input type="text" class="form-control" ng-model="cols" ng-change="getSeatingTable()" />

        <br />
    </div>

    <table class="seat-table seat-table-hover">
        <tr ng-repeat="x in seatRow">
            <td ng-repeat="y in seatColumn" data-toggle="modal" data-target="#addSeatModal" style="cursor: pointer;"
                ng-click="getIndex(x,y)">
                {{seats[x][y].name}}
            </td>
        </tr>
    </table>
    <br />

    <div ng-show="seatingClass">
        <button class="btn btn-primary" data-toggle="modal" data-target="#saveChanges"><span class="glyphicon glyphicon-save"></span> Save Changes</button>
        <button class="btn btn-default" ng-click="clear()">Clear</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addSeatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add/Edit New Seat</h4>
                </div>
                <div class="modal-body">
                    <label>Enter Seat Name:</label>
                    <p class="help-block">(Avoid long names if possible)</p>
                    <input type="text" class="form-control" ng-model="seats[rowIndex][colIndex].name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="saveChanges" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save Changes</h4>
                </div>
                <div class="modal-body">
                    <p>Proceed with seating layout changes? (This cannot be undone)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveChanges()">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 
</div>