<div>

    <h3><span class="glyphicon glyphicon-tag"></span> Seats → Display Seats</h3>
    <br />
    
    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="seat.voyage">
        <label ng-hide="vesselTemplateList">No seat template linked to vessel! Fix this at vessel settings.</label>
        <div ng-show="vesselTemplateList">
            <label>Select Seating Class</label>
            <select class="form-control" ng-model="seatingClass" ng-change="getSeatList(); getTableDimensions(seatingClass); getSeatingTable(); startSeatDisplayInterval(5000);">
                <option ng-repeat="value in vesselTemplateList" value="{{value.seating_class_id}}">{{joinSeatingClass(value.seating_class_id)}}</option>
            </select>
            <br />

            <table class="seat-table">
                <tr ng-repeat="x in seatRow">
                    <td ng-repeat="y in seatColumn" title="{{getSeatTitle(x,y)}}" style="{{getSeatColor(x,y)}}">
                        {{seats[x][y].name}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

