<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-flag"></span> Voyage Configurations → Ports</h3>
    <br />
    
    <table class="table table-striped table-responsive">
        <tr>
            <th>Port</th>
            <th>Code</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in portList">
            <td>{{value.name}}</td>
            <td>{{value.code}}</td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Port" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="portCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Port</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Port</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Port:</label>
                        <input type="text" class="form-control" ng-model="newPort.name" required />
                        <br />

                        <label>Code:</label>
                        <input type="text" class="form-control" ng-model="newPort.code" required />
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addPort(); update();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Port</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Port:</label>
                        <input type="text" class="form-control" ng-model="portItems[currentIndex].name" required />
                        <br />

                        <label>Code:</label>
                        <input type="text" class="form-control" ng-model="portItems[currentIndex].code" required />
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="portItems[currentIndex].active">
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editPort();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

