<div ng-init="update();">

    <h3><span class="glyphicon glyphicon-random"></span> Voyage Configurations → Routes</h3>
    <br />
    
    <table class="table table-striped table-responsive">
        <tr>
            <th>Route</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="value in routeList">
            <td>{{value.name}}</td>
            <td><a ng-href="#/port">{{joinPort(value.source_port)}}</a></td>
            <td><a ng-href="#/port">{{joinPort(value.dest_port)}}</a></td>
            <td ng-show="value.active">Yes</td>
            <td ng-hide="value.active">No</td>
            <td>
                <a title="Edit Route" data-toggle="modal" data-target="#editModal" style="cursor: pointer;" ng-init="getItems(value)" ng-click="getIndex(value.id);"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>

    <pagination 
        total-items="routeCount" 
        ng-model="currentPage" 
        max-size="maxSize" 
        class="pagination-sm" 
        boundary-links="true" 
        rotate="false" 
        num-pages="numPages"
        ng-change="update()"
    ></pagination> <br />

    <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Route</button>

    <!-- Modals -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Route</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Route:</label>
                        <input type="text" class="form-control" ng-model="newRoute.name" required />
                        <br />

                        <label>Source Port:</label>
                        <select class="form-control" ng-model="newRoute.source_port" required >
                            <option ng-repeat="value in portList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Destination Port:</label>
                        <select class="form-control" ng-model="newRoute.dest_port" required >
                            <option ng-repeat="value in portList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addRoute(); update();" data-dismiss="modal" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Route</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Route:</label>
                        <input type="text" class="form-control" ng-model="routeItems[currentIndex].name" required />
                        <br />

                        <label>Source Port:</label>
                        <select class="form-control" ng-model="routeItems[currentIndex].source_port" required >
                            <option ng-repeat="value in portList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Destination Port:</label>
                        <select class="form-control" ng-model="routeItems[currentIndex].dest_port" required >
                            <option ng-repeat="value in portList" value="{{value.id}}">{{value.name}}</option>
                        </select>
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="routeItems[currentIndex].active">
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editRoute();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
