<div>

    <h3><span class="glyphicon glyphicon-minus-sign"></span> Miscellaneous → Disbursment</h3>
    <br />

    <!-- Input -->
    <div>
        <label>Select Date:</label>
        <p class="input-group">
            <input type="text" class="form-control" ng-click="open($event)" ng-disabled="false" datepicker-popup="" ng-model="selectedDate" ng-init="getToday(); changeDate();" ng-change="changeDate();" is-open="opened" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <p ng-hide="voyageList">No Voyage Found</p>

        <br />
        <center ng-show="voyageList">
            <p>Select Voyage</p>
            <span ng-repeat="value in voyageList">
                <!-- Inactive -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-default btn-lg" ng-click="getActiveVoyage(value.id, value.vessel); onVoyageSelect();" ng-hide="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
                <!-- Active -->
                <button style="margin-right: 5px; margin-bottom: 5px;" class="btn btn-primary btn-lg" ng-click="deactivateVoyage()" ng-show="isActiveVoyage(value.id)">
                    <span class="glyphicon glyphicon-time"></span> <br />
                    {{joinTrip(value.trip)}} <br />
                    {{value.number}} <br />
                </button>
            </span>
        </center>
        <br />
    </div>

    <div ng-show="deductions.voyage">
        <br />
        <table class="table table-responsive table-striped">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="value in deductionsList">
                <td>{{value.name}}</td>
                <td>{{value.amt}}</td>
                <td ng-show="value.active">Yes</td>
                <td ng-hide="value.active">No</td>
                <td>
                    <a title="Edit Deduction" style="cursor: pointer;" data-toggle="modal" data-target="#editDeductions" ng-click="getIndex(value.id);" ng-init="getItems(value);"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        </table>

        <pagination 
            total-items="deductionCount" 
            ng-model="currentPage" 
            max-size="maxSize" 
            class="pagination-sm" 
            boundary-links="true" 
            rotate="false" 
            num-pages="numPages"
            ng-change="update()"
        ></pagination> <br />

        <button class="btn btn-primary" data-toggle="modal" data-target="#addDeductions" style="cursor: pointer;"><span class="glyphicon glyphicon-plus"></span> Add New Disbursment</button>

    </div>

    <!-- Modals -->
    <div class="modal fade" id="addDeductions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Disbursment</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalAdd" novalidate role="form">
                        <label>Name:</label>
                        <span class="help-block">(Also include details here)</span>
                        <textarea class="form-control" ng-model="newDeductions.name" required></textarea>
                        <br />

                        <label>Amount:</label>
                        <input type="text" class="form-control" ng-model="newDeductions.amt" required />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addDeductions();" ng-disabled="(modalAdd.$dirty && modalAdd.$invalid) || modalAdd.$pristine">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    </ng-form> 
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editDeductions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span  class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Disbursment</h4>
                </div>
                <div class="modal-body">
                    <ng-form name="modalEdit" novalidate role="form">
                        <label>Name:</label>
                        <span class="help-block">(Also include details here)</span>
                        <textarea class="form-control" ng-model="deductionItems[currentIndex].name" required></textarea>
                        <br />

                        <label>Amount:</label>
                        <input type="text" class="form-control" ng-model="deductionItems[currentIndex].amt" required />
                        <br />

                        <label>Active:</label>
                        <select style="width: 100%" class="form-control" ng-model="deductionItems[currentIndex].active" required>
                            <option ng-repeat="(key,value) in bool" value="{{key}}">{{value}}</option>
                        </select>
                        <br />
                    </ng-form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editDeductions();" ng-disabled="(modalEdit.$dirty && modalEdit.$invalid) || modalEdit.$pristine">Edit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
